<button class="close-button" mat-dialog-close mat-icon-button>
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Register</h1>

<div *ngIf="error" class="error-message" role="alert">

  <strong>Authentication problems!</strong> <br>
  {{ errorMessage }}
  <button (click)="vanishError()" aria-label="Close" class="close-error" data-dismiss="alert" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</div>


<div (ngSubmit)="createNewUser()" [formGroup]="registerForm" fxLayout="column" mat-dialog-content>
  <p *ngIf="!error">Welcome to Project Sketchbook!</p>

  <div class="name">
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>First Name</mat-label>
      <input aria-describedby="firstnameHelp" class="form-control" formControlName="firstname" id="inputFirstname"
             matInput
             name="firstname">
      <mat-error *ngIf="registerForm.controls.firstname.errors">
        <mat-error *ngIf="registerForm.controls.firstname.errors.required">Your first name is required!</mat-error>
        <mat-error *ngIf="registerForm.controls.firstname.errors.pattern">Your first name contains invalid symbols!
        </mat-error>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Last Name</mat-label>
      <input aria-describedby="lastnameHelp" class="form-control" formControlName="lastname" id="inputLastname" matInput
             name="lastname">
      <mat-error *ngIf="registerForm.controls.lastname.errors">
        <small *ngIf="registerForm.controls.lastname.errors.required">Your last name is required! </small>
        <small *ngIf="registerForm.controls.lastname.errors.pattern">Your last name contains invalid symbols! </small>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Email</mat-label>
    <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="inputEmail" matInput
           name="email">
    <mat-error *ngIf="registerForm.controls.email.errors">
      <small *ngIf="registerForm.controls.email.errors.required">Your email is required! </small>
      <small *ngIf="registerForm.controls.email.errors.email">The email you entered is invalid! </small>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Address</mat-label>
    <input aria-describedby="address-help" class="form-control" formControlName="address" id="inputAddress" matInput
           name="address">
    <mat-error *ngIf="registerForm.controls.address.errors">
      <small *ngIf="registerForm.controls.address.errors.required">Your address is required! </small>
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Username</mat-label>
    <input aria-describedby="usernameHelp" class="form-control" formControlName="username" id="inputUsername" matInput
           name="username">
    <mat-error *ngIf="registerForm.controls.username.errors">
      <small *ngIf="registerForm.controls.username.errors.required">Your username is required! </small>
      <small *ngIf="registerForm.controls.username.errors.pattern">Your username contains invalid symbols! </small>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Password</mat-label>
    <input [type]="hidePassword ? 'password' : 'text'" class="form-control" formControlName="password" id="password"
           matInput name="password">
    <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword" mat-icon-button
            matSuffix>
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="registerForm.controls.password.errors">
      <small *ngIf="registerForm.controls.password.errors.required">Your password is required!</small>
      <small *ngIf="registerForm.controls.password.errors.minlength">Your password must be at least 8 characters
        long!</small>
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Confirm Password</mat-label>
    <input [type]="hideConfirmPassword ? 'password' : 'text'" class="form-control" formControlName="confirm"
           id="confirm"
           matInput name="confirm">
    <button (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
            mat-icon-button matSuffix>
      <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>

    <mat-error *ngIf="registerForm.controls.confirm.errors">
      <small *ngIf="registerForm.controls.confirm.errors.required">Your password is required!</small>
      <small *ngIf="registerForm.controls.confirm.errors.minlength">Your password must be at least 8 characters
        long!</small>
      <small *ngIf="registerForm.controls.confirm.errors.mustMatch">Password and Confirm Password must be match.</small>
    </mat-error>
  </mat-form-field>


  <button (click)="createNewUser()" cdkFocusInitial class="submit-button" color="primary" mat-flat-button>Register
  </button>
  <br>
  <div fxLayout="column">
    <span style="text-align: center">Already Registered?</span>
    <button (click)="openDialog()" class="submit-button" mat-button>Sign In</button>
  </div>
</div>



