<div class="primary title">
  <div fxFlex fxLayout>
    <button class="back-arrow" mat-icon-button routerLink="/commissions">
      <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <h2>{{commission.title}}</h2>
  <div class="navigation-items" fxFlex fxLayout fxLayoutAlign="end"></div>
</div>
<div *ngIf="user" class="primary total" fxLayout="row">
  <div class="profile" fxLayout="column">
    <img [src]="userProfilePicture" alt="" class="commission-pfp">
    <br>
    <strong class="userName">{{user.userName}}</strong>
  </div>

  <div class="description">
    <strong>Description:</strong>
    <br><br>
    <p>{{commission.instructions.substring(0, 240)}}</p>
    <p>{{commission.instructions.substring(240, 800)}}</p>
    <br>
    <strong class="referenceImages">Reference Images:</strong>
    <br><br>
    <div class="images" fxLayout="row">
      <img [src]="userProfilePicture" alt="" class="commission-image">
      <img [src]="userProfilePicture" alt="" class="commission-image">
      <img [src]="userProfilePicture" alt="" class="commission-image">
    </div>
    <br><br>
    <strong class="referenceImages">Price: ${{commission.price}}</strong>
    <br><br>
    <strong class="referenceImages">Date: {{commission.issueDate.toLocaleDateString()}}
      - {{commission.deadlineDate.toLocaleDateString()}}</strong>
  </div>
  <button class="accept" color="primary" fxLayoutAlign="center" mat-flat-button>Request</button>
</div>
