.commission-pfp {
  border-radius: 5%;
  height: 150px;
  width: 150px;
}

h2 {
  font-weight: bolder;
}

strong {
  font-size: 1.1rem;
}

.userName {
  position: relative;
  left: 2.5rem;
}

.description {
  margin-left: 8rem;


}

.title {
  margin-top: 1rem;
  position: relative;
}

.total {
  margin-top: 2rem;
  margin-left: 14rem;
  margin-right: 6rem;
}

.description-section{
  background: #fb9fa4;
  color: black;
  border: 4px solid #fb9fa4;
  padding: 0.5rem;
  border-radius: 10px;
}


.commission-image {
  margin-right: 2rem
}

.back-arrow {
  position: relative;
  bottom: 13%;
  margin-left: 12.5rem;
}

.back-icon {
  font-size: 2.5rem;
}

.accept {
  position: absolute;
  left: 50%;
  top: 75%;
  font-size: 1rem;
  border: 3px solid #fb9fa4;
  height: 2.5rem;
  margin: 2rem 0 0 0;
  padding: 0 3rem;
}

.accept:hover {
  background-color: #fb9fa4;
  color: #2f3a51;
}

.accept:active {
  transform: scale(0.95);
}
