.commission-pfp {
  border-radius: 5%;
  height: 150px;
  width: 150px;
}

.p-section{
  font-size: 1.1rem;
  color: #ffd0d8;
}
.status{
  color: #ffd0d8;
}

h2 {
  font-weight: bolder;
}

strong {
  font-size: 1.1rem;
}

.userName {
  position: relative;
  left: 2.5rem;
}

.description {
  margin-left: 8rem;
}

.title {
  margin-top: 1rem;
  position: relative;
}

.total {
  margin-top: 2rem;
  margin-left: 14rem;
  margin-right: 6rem;

}

.description-section {
  border-radius: 10px;
}

.description {
  margin-left: 12rem;
  position: relative;
  bottom: 12rem;
}


.commission-image {
  margin-right: 2rem
}

.back-arrow {
  position: relative;
  bottom: 13%;
  margin-left: 12.5rem;
}


.back-icon {
  font-size: 2.5rem;
}

.apply {
  position: absolute;
  left: 50%;
  top: 80%;
  font-size: 1rem;
  border: 3px solid #fb9fa4;
  height: 2.5rem;
  margin: 2rem 0 0 0;
  padding: 0 3rem;
}

.apply:hover {
  background-color: #fb9fa4;
  color: #2f3a51;
}

.accept:active {
  transform: scale(0.95);
}

.image-container {
  margin: 8px;
}

.feedbackBox {
  color: #2f3a51;
}

.gallery-pictures {
  max-height: 200px;
  object-fit: cover;
}

.gallery-pictures:hover {
  filter: brightness(0.9) drop-shadow(2px 4px 6px black);

  img {
    transform: scale(1.1) !important;
    transition-duration: 3s;
  }

  span {
    opacity: 1;
  }
}


.scrolling-container .viewport {
  height: 240px;
  width: 100%;
}

.scrolling-container .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

/* width */
::-webkit-scrollbar {
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fb9fa4;
  border-radius: 10px;
}

.completed {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  bottom: 4rem;
}

.preview-image {
  max-height: 400px;
  max-width: 400px;
}
