.commission-pfp {
  border-radius: 5%;
  height: 150px;
  width: 150px;
}

strong{
  font-size: 1.2rem;
}

.userName{
  position: relative;
  left: 2.5rem;
}

.description{
  margin-left: 8rem;
}
.title{
  margin-left: 9rem;
}
.total{
  margin-top: 2rem;
  margin-left: 14rem;
}

.commission-image{
  margin-right: 2rem
}
