<div *ngIf="hasLoaded">
  <div class="primary title">
    <div fxFlex fxLayout>
      <button class="back-arrow" mat-icon-button routerLink="/commissions">
        <mat-icon class="back-icon">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <h2>Commission: {{commission.title}}</h2>
    <div class="navigation-items" fxFlex fxLayout fxLayoutAlign="end"></div>
  </div>
  <div class="primary total">
    <div class="profile" fxLayout="column">
      <img [src]="globals.assetsPath + profilePicture" alt="" class="commission-pfp">
      <br>
      <strong class="userName">{{user.userName}}</strong>
    </div>
    <div class="description">
      <strong>Description:</strong>
      <br><br>
      <div class="description-section">
        <p class="p-section">{{commission.instructions}}</p>
      </div>
      <br>
      <div class="description-section">
        <strong>Commissioned by:</strong> <br><br>
        <p class="p-section">{{commission.customerDto.userName}}</p>
      </div>
      <div *ngIf="this.commission.artistDto" class="description-section">
        <strong>Assigned Artist:</strong> <br><br>
        <a (click)="navigateToArtist(this.commission.artistDto)">{{commission.artistDto.userName}}</a>
      </div>
      <br>
      <div *ngIf="hasReferences">
        <strong class="referenceImages">Reference Images:</strong>
        <br><br>
        <div class="scrolling-container">
          <cdk-virtual-scroll-viewport class="viewport" itemSize="{{commission.referencesDtos.length}}"
                                       orientation="horizontal">
            <div *ngFor="let reference of commission.referencesDtos; let i = index" class="image-container">
              <img (click)="setSelectedArtwork(i, true) " [src]="'/assets/' + reference.imageUrl" alt=""
                   class="gallery-pictures">
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
        <app-gallery-carousel
          (closeCarousel)="selectedReference=null"
          *ngIf="selectedReference!== null"
          [artworks]="commission.referencesDtos"
          [selectedArtworkId]="selectedReference">
        </app-gallery-carousel>
      </div>


      <div *ngIf="this.commission.status.toString()=== 'LISTED' && userEdit && this.commission.artistCandidatesDtos.length !== 0">
        <mat-label>Commission Candidates</mat-label>
        <mat-selection-list  [(ngModel)]="selectedArtistId" name="applicant"  [multiple]="false" style="width:20%">
          <div *ngFor="let a of commission.artistCandidatesDtos" fxLayoutAlign="center center">
            <mat-list-option [value]="a.id"
                             >{{a.userName}}</mat-list-option>
            <button (click)="navigateToArtist(a)" class="mat-primary" mat-flat-button>View Profile</button>
          </div>
        </mat-selection-list>
        <button (click)="chooseArtist()" class="mat-primary" mat-flat-button>Choose this Artist</button>
      </div>

      <br><br>
      <strong>Feedback-Rounds: </strong>
      <strong class="p-section"> {{commission.feedbackRounds}}</strong> <br><br>
      <strong>Status:</strong>
      <strong class="status"> {{commission.status.replace('_', ' ')}}</strong>
      <br><br>
      <strong>Price: </strong>
      <strong class="p-section">${{commission.price}}</strong>
      <br><br>
      <strong>Date: </strong>
      <strong *ngIf="commission.status !== 'COMPLETED'" class="p-section">{{startDate}}
        - {{endDate}}</strong>

      <strong *ngIf="commission.status === 'COMPLETED'" class="p-section">{{startDate}}
        - {{updatedEndDate}}</strong>

      <div *ngIf="hasSketches">
        <strong class="referenceImages">Sketches:</strong>
        <br><br>
        <div class="scrolling-container">
          <cdk-virtual-scroll-viewport class="viewport" itemSize="{{commission.artworkDto.sketchesDtos.length}}"
                                       orientation="horizontal">
            <div *ngFor="let reference of sketches; let i = index" class="image-container">
              <img (click)="setSelectedArtwork(i, false) " [src]="'/assets/' + reference.imageUrl" alt=""
                   class="gallery-pictures">
              <span *ngIf="reference.customerFeedback">Customer Feedback: {{reference.customerFeedback.split("%")[0]}}</span>
              <div *ngIf="i===commission.artworkDto.sketchesDtos.length-1">
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
        <app-gallery-carousel
          (closeCarousel)="selectedArtwork=null"
          *ngIf="selectedArtwork!== null"
          [artworks]="sketches"
          [selectedArtworkId]="selectedArtwork">
        </app-gallery-carousel>
      </div>


      <div *ngIf="this.uploadedSketchDto&&allowSketch && artistEdit" fxLayoutAlign="center center">
        <div>
          <mat-label>Sketch</mat-label>
        </div>
        <div><img [src]="this.uploadedSketchDto.imageData" alt="" class="preview-image"></div>
        <div>
          <mat-form-field style="width: 60%; padding-top: 1em">
            <textarea [(ngModel)]="this.uploadedSketchDto.description" class="feedbackBox" color="secondary" matInput
                      placeholder="Describe your sketch"></textarea>
          </mat-form-field>
        </div>

      </div>
    </div>
    <div *ngIf="commission.status.toString()==='LISTED' && this.commission.customerDto.id.toString() !== this.userId" fxLayout="col" fxLayoutAlign="center start">
      <button color="primary" fxLayoutAlign="center" mat-flat-button (click)="applyArtist()">Apply</button>
    </div>
    <div *ngIf="this.commission.status.toString()==='NEGOTIATING'" fxLayout="col" fxLayoutAlign="center start">
        <button *ngIf="this.userEdit" (click)="startCommission()" color="primary" mat-flat-button>Start Commission</button>
        <label *ngIf="this.artistEdit">Waiting for user to accept</label>
    </div>

    <div *ngIf="this.feedbackButtonIndex===1" fxLayout="col" fxLayoutAlign="center start">
      <mat-form-field style="width: 60%; padding-top: 1em">
        <textarea [(ngModel)]="this.uploadedSketchDto.customerFeedback" class="feedbackBox" color="secondary" matInput
                  placeholder="Leave a comment"></textarea>
      </mat-form-field>
    </div>
    <div *ngIf="commission.status.toString()==='IN_PROGRESS'&& userEdit && allowFeedback" fxLayoutAlign="center">
      <button (click)="toggleFeedbackField()" color="primary" fxLayoutAlign="center"
              mat-flat-button>{{feedbackButtonStates[feedbackButtonIndex]}}</button>
      <div *ngIf="feedbackButtonIndex===1">
        <button (click)="updateCommission()" color="primary" fxLayoutAlign="center" mat-flat-button>Upload</button>
      </div>
    </div>


    <div *ngIf="commission.status.toString()==='IN_PROGRESS'&& artistEdit && allowSketch">
      <form [formGroup]="sketchForm" fxLayout="row" fxLayoutAlign="center end">
        <div *ngIf="commission.feedbackSent < commission.feedbackRounds">
          <button (click)="fileInput.click()" color="accent" mat-button>
            <input #fileInput (change)="fileSelected($event)"
                   accept=".png,.jpg,.jpeg" style="display: none;" type="file">
            <mat-icon color="accent">upload</mat-icon>
            <span>Upload new Sketch</span>
          </button>
        </div>
        <div *ngIf="this.uploadedSketchDto">
          <button (click)="updateCommission()" color="primary" mat-flat-button>Confirm Upload</button>
        </div>
        <br>
        <button *ngIf="commission.feedbackSent === commission.feedbackRounds" (click)="openDialog()" color="primary" mat-button>
          <mat-icon color="primary">upload</mat-icon>
          <span>Upload finished image</span>
        </button>
      </form>
    </div>
    <button *ngIf="commission.status.toString()==='COMPLETED'" color="primary" mat-flat-button routerLink="/commissions/{{commission.id}}/timeline">View Timeline</button>
  </div>
</div>
