<div fxFlex fxLayout="column">
  <form class="search-form" fxLayoutAlign="center">
    <mat-form-field appearance="fill" class="primary search-field">
      <mat-label class="primary">Search Commissions</mat-label>
      <input matInput placeholder="search">
      <mat-icon matSuffix>search</mat-icon>

    </mat-form-field>
    <button [routerLink]="'/commission-creation'" class="primary" color="primary" mat-flat-button style="float:right">
      Create Commission
    </button>
  </form>

  <div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="8px grid">
      <div *ngFor="let commission of commissions">
        <app-commission-card [commission]="commission"></app-commission-card>
      </div>
    </div>
  </div>
</div>

