<div fxLayout="column" fxLayoutAlign="start end">
  <button [routerLink]="'/commission-creation'" class="primary" color="primary" fxLayout="column" fxLayoutAlign="center"
          mat-flat-button style="float:right">
    Create Commission
  </button>

</div>

<div class="search-form" fxLayout="row" fxLayoutAlign="None">
  <mat-form-field appearance="fill" class="primary search-field">
    <mat-label class="primary">Search Commissions</mat-label>
    <input [(ngModel)]="searchCom.name" matInput placeholder="search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label class="primary">Filter by Artist</mat-label>
    <mat-select [(ngModel)]="searchCom.artistId">
      <mat-option [value]="''"> All</mat-option>
      <div *ngFor="let artist of artists">
        <mat-option [value]="artist.id">{{artist.userName}}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="stretch">

    <ngx-slider [(highValue)]="searchCom.priceRange[1]" [(value)]="searchCom.priceRange[0]" [options]="options"
                class="primary" style="width: 20rem "></ngx-slider>

  </div>
  <mat-form-field appearance="fill">
    <mat-label class="primary">Time</mat-label>
    <mat-select [(ngModel)]="searchCom.date">
      <div *ngFor="let enum of searchEnum | keyvalue">
        <mat-option [value]="enum.value">{{enum.value}}</mat-option>

      </div>

    </mat-select>

  </mat-form-field>
</div>


<div fxLayout="column" fxLayoutAlign="center center">
  <button (click)="search()" class="primary" color="primary" fxLayout="column" fxLayoutAlign="center" mat-flat-button
          style="float:right">
    Search
  </button>
</div>
<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="8px grid">
    <div *ngFor="let commission of commissions">
      <app-commission-card [commission]="commission"></app-commission-card>
    </div>
  </div>
</div>

