<div style="font-size: 1.05rem">
  <mat-horizontal-stepper #stepper (selectionChange)="setIndex($event)" class="comm_stepper"
                          fxLayout="column"
                          fxLayoutAlign="center stretch">
    <mat-step [stepControl]="commissionForm" fxLayout="column" [hasError]="(commissionForm.controls.title.errors || commissionForm.controls.description.errors) && hasSubmitted" errorMessage="An error occurred on this page">
      <form [formGroup]="commissionForm">
        <ng-template matStepLabel>Commission Details</ng-template>

        <span class="accent-color"><b>Welcome to commission creation!</b></span> <br> <br>
        <p class="creation-p">Start of by giving your commission a fitting title. The title should represent your idea
          and give a short glimpse into your concept</p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Title</mat-label>
          <input formControlName="title" matInput required>
          <mat-error *ngIf="commissionForm.controls.title.errors">
            <span *ngIf="commissionForm.controls.title.errors.required">The title is required! </span>
            <span *ngIf="commissionForm.controls.title.errors.maxlength">The title you entered is too long, only 100 Characters are allowed! </span>
            <span *ngIf="commissionForm.controls.title.errors.pattern">Your first name contains invalid symbols!</span>
          </mat-error>
        </mat-form-field>

        <br><br>
        <p class="creation-p">Now its time to describe the Artwork that you envision. Try to portray your wishes as
          accurate and precise as possible, so that the artists can understand and visualize your thoughts.</p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Description</mat-label>
          <textarea formControlName="description" matInput  required rows="8">
        </textarea>
          <mat-error *ngIf="commissionForm.controls.description.errors">
            <span *ngIf="commissionForm.controls.description.errors.required">The description is required! </span>
            <span *ngIf="commissionForm.controls.description.errors.maxlength">The description you entered is too long, only 500 Characters are allowed! </span>
          </mat-error>
        </mat-form-field>
        <div class="stepper_button">
          <button mat-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="commissionForm" fxFlex="100" fxLayout="column" label="Organisation" [hasError]="(commissionForm.controls.date.errors || commissionForm.controls.price.errors) && hasSubmitted" errorMessage="An error occurred on this page">
      <form [formGroup]="commissionForm">
        <p class="creation-p">On this page you can fill in some information for the organization of the project. All of
          these values, can still be altered at a later stage of the commission.</p>

        <p class="creation-p">At first fill in the date which may be the deadline of the commission.</p>

        <mat-form-field appearance="fill" class="input-field">
          <mat-label>Delivery Date</mat-label>
          <input [matDatepicker]="picker" [min]="startDate" formControlName="date" matInput required>
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="commissionForm.controls.date.errors">
            <span> This date is invalid! </span>
          </mat-error>
        </mat-form-field>
        <br><br>

        <p class="creation-p">Now enter the amount of money, that you can offer the artist for their service. (in
          Euro)</p>
        <mat-form-field appearance="fill" class="input-field">
          <mat-label >Your offer (in Euro)</mat-label>

          <input formControlName="price" matInput min="0"
                 [max]="globals.maxCommissionPrice"
                 required step="any" type="number">
          <mat-error *ngIf="commissionForm.controls.price.errors">
            <span *ngIf="commissionForm.controls.price.errors.required">The price is required! </span>
            <span *ngIf="commissionForm.controls.price.errors.min">The price cannot be negative! </span>
            <span *ngIf="commissionForm.controls.price.errors.max">The maximum price is {{globals.maxCommissionPrice}}€</span>
          </mat-error>
        </mat-form-field>

        <br><br>
        <p class="creation-p">A commission can contain multiple feedback rounds. This means, during the art creation
          process,
          the artist will show you one sketch per round and you can give feedback to alter the final result.
          Notice that more feedback rounds usually result in more work for the artist, so a higher price offer may be
          beneficial.</p>
        <br>
        <div class="slider">
          <mat-label class="accent-color" >Feed back rounds:</mat-label>
          <br>
          <mat-label class="accent-color" >0</mat-label>
          <mat-slider color="primary" [(ngModel)]="commission.feedbackRounds" formControlName="feedbackRounds"
                      max="5" min="0" thumbLabel tickInterval="1"></mat-slider>
          <mat-label class="accent-color" >5</mat-label>
        </div>
        <div class="stepper_button">
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>


      </form>
    </mat-step>
    <mat-step [stepControl]="commissionForm" label="References" [hasError]="false">
      <form [formGroup]="commissionForm">
        <p class="creation-p">If possible provide reference pictures for your artwork. This can further assist the
          artists with understanding and visualizing your concept.</p>
        <mat-form-field appearance="fill" class="input-field">

          <!-- this is neat as it allows multiple images at once maybe use-->
          <ngx-mat-file-input #fileInput (change)="fileSelected()" [multiple]="true"
                              accept=".png,.jpg,.gif,.jpeg" formControlName="references"></ngx-mat-file-input>

          <mat-hint>You can select multiple Pictures</mat-hint>
          <br>

          <strong class="referenceImages">Reference Images:</strong><br>


          <div class="card-img-wrap">
            <div *ngIf="this.commission.referencesDtos" _ngcontent-c6="" class="feed"
                 gdcolumns="repeat(auto-fill, minmax(400px, 1fr))" gdgap="10px"
                 style="display: grid; grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); gap: 10px;">
              <div *ngFor="let ref of this.commission.referencesDtos; let i= index" fxLayout="row"
                   fxLayoutAlign="stretch"
              >

                <button (click)="removeReference(i)" class="close-button" color="primary" mat-flat-button>
                  <mat-icon>delete</mat-icon>
                </button>
                <div class="image">
                  <img [src]="ref.imageUrl  " alt="">

                  <div class="card-img-description-layer">

                        <span class="accent-color" color="accent-color" style="font-size: large">
                          {{globalFunctions.artworkNameParser(ref.name)}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
        </mat-form-field>


        <div class="stepper_button">
          <button mat-icon-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="createDto()" mat-icon-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <div class="com-display">
        <ng-template matStepLabel>Done</ng-template>
        <p class="accent-color"><b>Confirm your Order</b></p>
        <mat-label class="accent-color">Title</mat-label>
        <p class="creation-p">{{commissionForm.value.title}} </p>
        <mat-label class="accent-color">Description</mat-label>
        <p class="creation-p">{{commissionForm.value.description}} </p>
        <mat-label class="accent-color">Price in Euro</mat-label>
        <br>
        <p *ngIf="commissionForm.value.description" class="creation-p"
           style="display: inline">{{commissionForm.value.price}} </p>
        <br>
        <mat-label class="accent-color">Feedback Rounds</mat-label>
        <p class="creation-p">{{commission.feedbackRounds}} </p>
        <mat-label class="accent-color">Delivery Date</mat-label>
        <p class="creation-p">{{formatEndDate(commissionForm.value.date)}} </p>
        <div class="stepper_button">
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="submitCommission()"  class="primary" color="primary" mat-flat-button matStepperNext> Submit
            Commission
          </button>

        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
