<div>
  <mat-horizontal-stepper #stepper (selectionChange)="setIndex($event)" class="comm_stepper" fxFlex="100"
                          fxLayout="column" fxLayoutAlign=" stretch">
    <mat-step [stepControl]="commissionForm" fxFlex="100" fxLayout="column">
      <form [formGroup]="commissionForm" fxFlex="80">
        <ng-template matStepLabel>Commission Details</ng-template>
        <mat-form-field appearance="fill">
          <mat-label class="accent-color" color="accent-color">Title</mat-label>
          <input formControlName="title" matInput placeholder="Title" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label class="accent-color" color="accent-color">Describe your the Artwork you envision</mat-label>
          <textarea formControlName="description" matInput placeholder="Description" required>
        </textarea>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="commissionForm" fxFlex="100" fxLayout="column" label="Organisation">
      <form [formGroup]="commissionForm">
        <mat-form-field appearance="fill">
          <mat-label class="accent-color" color="accent-color">Delivery Date</mat-label>
          <input formControlName="date" matInput placeholder=" " required
                 type="date">
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label class="accent-color" color="accent-color">Your offer</mat-label>

          <input formControlName="price" matInput placeholder="Price" required
                 type="text">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
        <mat-label class="accent-color" color="accent-color">Feed back rounds:</mat-label>
        <br>
        <mat-label>0</mat-label>
        <mat-slider [(ngModel)]="commission.feedbackRounds" formControlName="feedbackRounds"
                    max="5" min="0" thumbLabel tickInterval="1"></mat-slider>
        <mat-label>5</mat-label>

      </form>
    </mat-step>
    <mat-step [stepControl]="commissionForm" label="References">
      <form [formGroup]="commissionForm">
        <mat-form-field appearance="fill">
          <span class="accent-color" color="accent-color">If possible provide reference pictures for your artwork</span>


          <!-- this is neat as it allows multiple images at once maybe use-->
          <ngx-mat-file-input #fileInput (change)="fileSelected()" [multiple]="true"
                              accept=".png,.jpg,.gif,.jpeg" formControlName="references"></ngx-mat-file-input>

          <mat-hint>You can selected multiple Pictures</mat-hint>

          <div class="container" id="container">
            <div class="content">
              <div class="card-img-wrap">
                <div *ngIf="this.commission.referencesDtos" _ngcontent-c6="" class="feed"
                     gdcolumns="repeat(auto-fill, minmax(400px, 1fr))" gdgap="10px"
                     style="display: grid; grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); gap: 10px;">
                  <div *ngFor="let ref of this.commission.referencesDtos; let i= index"
                       class="image">
                    <div>
                      <button (click)="removeReference(i)" mat-flat-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                      <img [src]="ref.imageUrl  " alt="">
                    </div>
                    <div class="card-img-description-layer">
                      <p class="card-img-description">
                        {{globalFunctions.artworkNameParser(ref.name)}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br>
        </mat-form-field>


        <div>
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="createDto()" mat-button matStepperNext>
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <div class="com-display">


        <ng-template matStepLabel>Done</ng-template>
        <p class="accent-color" color="accent-color">Confirm your Order</p>
        <mat-label>Title</mat-label>
        <p class="accent-color" color="accent-color">{{commissionForm.value.title}} </p>
        <mat-label>Description</mat-label>
        <p class="accent-color" color="accent-color">{{commissionForm.value.description}} </p>
        <mat-label>Price in Euro</mat-label>
        <p *ngIf="commissionForm.value.description" class="accent-color" color="accent-color"
           style="display: inline">{{commissionForm.value.price}} </p>
        <br>
        <mat-label>Feedback Rounds</mat-label>
        <p class="accent-color" color="accent-color">{{commission.feedbackRounds}} </p>
        <mat-label>Delivery Date</mat-label>
        <p class="accent-color" color="accent-color">{{commissionForm.value.date}} </p>
        <div>
          <button mat-button matStepperPrevious>
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button (click)="submitCommission()" class="primary" color="primary" mat-flat-button matStepperNext> Submit
            Commission
          </button>

        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
