<div class="contact">
  <h3 style="color: red"><strong>This page is just an example of what it might look like and is not allowed to be used
    in any business context.</strong></h3>

  <h3><strong>How to Contact Us</strong></h3>
  <div>
    <h3>Email us</h3>
    <ul>
      <li>Artist support: <a href="mailto:sellers@artsperience.com" rel="nofollow" style="color: #fb9fa4"
                             target="_blank">sellers@artsperience.com</a></li>
      <li>Customer support: <a href="mailto:customers@artsperience.com" rel="nofollow" style="color: #fb9fa4"
                               target="_blank">customers@artsperience.com</a></li>
      <li>Media enquiries: <a href="mailto:media@artsperience.com" rel="nofollow" style="color: #fb9fa4"
                              target="_blank">media@artsperience.com</a></li>
      <li>Partnerships &amp; B2B enquiries: <a href="mailto:business@artsperience.com" rel="nofollow"
                                               style="color: #fb9fa4" target="_blank">business@artsperience.com</a></li>
    </ul>
    <br>
    <h3>Call us</h3>
    <ul>
      <li><a href="tel:0800133743" rel="nofollow" style="color: #fb9fa4" target="_blank">0800 133 743</a> (EU freephone)
      </li>
      <li><a href="tel:1844888474" rel="nofollow" style="color: #fb9fa4" target="_blank">1 844 888 474</a> (US/Canada
        Toll Free)
      </li>
      <li><a href="tel:0044207713002" rel="nofollow" style="color: #fb9fa4" target="_blank">+43 207 713 002</a> (EU
        mobile and international)
      </li>
    </ul>
    <br>
    <h3>Customer and Seller Support Hours: 24 hours a day, 365 days a year</h3>
    <p>If you contact us by phone, we’ll do our best to resolve your query on a call. Our phone service operates 24
      hours a day, seven days a week. Anything that cannot be resolved on a call and requires further investigation will
      be looked into within the next 3 working days after your call, however usually much faster! </p>
    <p>If you contact us by email, please allow up to 3 working days to receive a response. Our email service hours are
      Monday-Friday from 8:30 am to 5.30 pm CET.</p>
    <br>
  </div>
  <h3 class="box-header">Our Address</h3>
  <div class="box-inner text-left">
    <p><strong>Registered Address:</strong> (no parcels please)<br>
      Artsperience GmbH<br>
      Favoritenstraße 9<br>
      1040 Wien<br>
      Austria<br><br></p>
    <p><strong>Company Details</strong><br>
      Registered in Austria as Artsperience GmbH<br>
      UID: ATU 136 02 374<br>
      ZVR: 912435687<br>
  </div>
</div>

