<div class="contact">
  <h3 class="box-header">How to Contact Us</h3>
  <div class="box-inner text-left">
    <h3>Email us</h3>
    <ul>
      <li>Artist support: <a href="mailto:sellers@artsperience.com" style="color: #fb9fa4" rel="nofollow" target="_blank">sellers@artsperience.com</a></li>
      <li>Customer support: <a href="mailto:customers@artsperience.com" style="color: #fb9fa4" rel="nofollow" target="_blank">customers@artsperience.com</a></li>
      <li>Media enquiries (Jane Verity): <a href="mailto:media@artsperience.com" style="color: #fb9fa4" rel="nofollow" target="_blank">media@artsperience.com</a></li>
      <li>Partnerships &amp; B2B enquiries: <a href="mailto:business@artsperience.com" style="color: #fb9fa4" rel="nofollow" target="_blank">business@artsperience.com</a></li>
    </ul>
    <h3>Call us</h3>
    <ul>
      <li><a href="tel:08001337434" style="color: #fb9fa4" rel="nofollow" target="_blank">0800 133 7434</a> (EU freephone) </li>
      <li><a href="tel:18448884748" style="color: #fb9fa4" rel="nofollow" target="_blank">1 844 888 4748</a> (US/Canada Toll Free) </li>
      <li><a href="tel:00442077130023" style="color: #fb9fa4" rel="nofollow" target="_blank">+43 207 713 0023</a> (EU mobile and international)</li>
    </ul>
    <h3>Customer and Seller Support Hours: 24 hours a day, 365 days a year</h3>
    <p>If you contact us by phone, we’ll do our best to resolve your query on a call. Our phone service operates 24 hours a day, seven days a week. Anything that cannot be resolved on a call and requires further investigation will be looked into within the next 3 working days after your call, however usually much faster! </p>
    <p>If you contact us by email, please allow up to 3 working days to receive a response. Our email service hours are Monday-Friday from 8:30 am to 5.30 pm GMT.</p>

  </div>
<div class="af-box box-small af-underline-links">
  <h3 class="box-header">Our Address</h3>
  <div class="box-inner text-left">
    <p><strong>Registered Address:</strong> (no parcels please)<br>
      Artsperience GmbH<br>
      Favoritenstraße 9<br>
      1040 Wien<br>
      Austria<br><br></p>
    <p><strong>Company Details</strong><br>
      Registered in Ausrtia as Artsperience GmbH<br>

  </div>
</div>
</div>
