.gallery-carousel{
  display: flex;
  justify-content:center ;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #2f3a51;
  backdrop-filter: blur(5px);

  .carousel-image{
    background-color: darkgray;
    padding:1.5rem;
    @media(max-width: 700px) {
      padding:0.5rem;

    }
    position: relative;
    overflow:hidden;

  }
  img{
        max-width: 80vw;
      max-height: 120vh;
  }
  .carousel-button{
    padding: 1.5rem;
    position: absolute;
    display: flex;
    bottom: 0;
    top:0;
    left:0;
    right:0;

    span{
      color:transparent;
      display: flex;
      align-items: center;
      padding:0.5rem;

      flex-grow: 1;
      &:nth-child(3){
        justify-content:  flex-end;

      }
      &:not(:nth-child(2)){
        cursor: pointer;
        &:focus,&:hover{
          border: none;
          outline: none;
          color:  wite;
        }
      }
        }



    }

  .carousel-close{

    position: absolute;
    top :0;
    left:0;
    font-size: 1rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    &:focus,&:hover{
      border: none;
      outline: none;
      color:  gray;
      transform:scale(1.1);
    }
  }
}
