<span fxLayoutAlign="center" style="font-size: 1.8rem; position: relative; bottom: 1rem;" class="timeline-title">Browse Artists</span>
<div *ngIf="isReady" class="artist-feed-container">
  <div class="artist-feed-search">
    <form class="artist-feed-form">
      <br>
      <mat-form-field>
        <mat-label class="primary">Search artist</mat-label>
        <input [formControl]="searchFormControl"
               [matAutocomplete]="searchAuto"
               aria-label="Search"
               class="primary"
               matInput
               placeholder="Search artist"
               type="text">
        <button (click)="clearSearchField()" *ngIf="this.searchFormControl.value !== null" mat-button mat-icon-button
                matSuffix>
          <mat-icon class="primary">close</mat-icon>
        </button>
        <mat-autocomplete #searchAuto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.userName">
            {{option.userName}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>

  <mat-table [dataSource]="dataSource" matSort style="background: transparent;">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <app-artist-feed-card [artist]="row"></app-artist-feed-card>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['id']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id'];"></mat-row>
  </mat-table>
</div>

<mat-paginator style="font-size: 1.2rem" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<div *ngIf="!isReady" class="artist-feed-container">
  <mat-spinner></mat-spinner>
</div>
