<mat-card *ngIf="commission && user" class="commission"
          routerLinkActive="active">
  <mat-card-title><strong>{{commission.title}}</strong></mat-card-title>
  <img [src]="globals.assetsPath + profilePicture" alt="" class="commission-pfp">
  <mat-card-content>
    <strong>{{user.userName}}</strong>
    <br><br>
    <strong>Price: €{{commission.price}}</strong>
    <br>
    <strong>Date: {{commission.issueDate.substring(0, 10)}} - {{commission.deadlineDate.substring(0, 10)}}</strong>
    <br><br>
    <p>{{commission.instructions.substring(0, 100)}}...</p>
  </mat-card-content>
  <mat-card-actions>
    <button [routerLink]="'/commissions/' + commission.id" mat-button>See more</button>
    <button (click)="openReviewDialog()" *ngIf="canWriteReview()" mat-button>Write review</button>
  </mat-card-actions>
</mat-card>
