<mat-card class="commission">
  <mat-card-title ><strong>Commission Title</strong></mat-card-title>
  <img [src]="userProfilePicture" alt="" class="commission-pfp">
  <mat-card-content>
    <strong>Max Mustermann</strong>
    <br><br>
    <strong>Price: 300$</strong>
    <br>
    <strong>Date: 30.05.2022 - 21.06.2022</strong>
    <br><br>
    <p>This is just a random <br> description which describes <br> some of the information <br> within in the commission...</p>
  </mat-card-content>
  <mat-card-actions>
    <span> <strong> See More </strong></span>
  </mat-card-actions>
</mat-card>
