<div class="privacy">
  <h3 style="color: red"><strong>This page is just an example of what it might look like and is not allowed to be used in any business context.</strong></h3>

  <h1>Privacy Policy</h1>
  <div class="wrapper padding-15">
    <div>
      <p>This privacy policy notice is for this website, www.artsperience.com and served by Artsperience GmbH and governs the privacy of those who use it. The purpose of this policy is to explain to you how we control, process, handle and protect your personal information while browsing or using this website, including your rights under current laws and regulations. If you do not agree to the following policy you may wish to cease viewing and using this website.</p>
      <h4>Key definitions</h4>
      <ul>
        <li><strong>"I", "our", "us", or "we" </strong> refer to the business, Artsperience GmbH.</li>
        <li><strong>"you", "the user"</strong> refer to the person(s) using this website.</li>
        <li><strong>"GDPR"</strong> means General Data Protection Act.</li>
        <li><strong>"PECR"</strong> means Privacy and Electronic Communications Regulation.</li>
        <li><strong>"ICO"</strong> means Information Commissioner's Office.</li>
        <li><strong>"Cookies"</strong> mean small files stored on a users computer or device.</li>
      </ul>

      <h4>Processing of your personal data</h4>
      <p>Under the GDPR (General Data Protection Regulation) we control and process any personal information you provide to us electronically for the purpose of facilitating art commissions and sales defined in our 'User Agreement' and 'Artist Agency Agreement'.</p>
      <p>We use the contract lawful basis under GDPR for the processing of your information to facilitate the art commission or sale service between a customer and artist.  We shall continue to process your information until the contract between us ends or is terminated under any contract terms.  Your personal data under the contract lawful basis is not shared with any parties other than to facilitate the service we provide.</p>
      <p>You can manage your personal information at any time through our online system.  We will continue to hold and process your information until you withdraw consent via email to info@artsperience.com at which point we will remove all your personal data from our system within 7 working days.</p>
      <p>For Artists, we use the consent lawful basis under GDPR for processing of your name and email address so that you can participate in any partner schemes from third party companies we have agreements with.  We will not pass this information to any third parties without your consent.</p>
      <p>If, as determined by us, the lawful basis upon which we process your personal information changes, we will notify you about the change and any new lawful basis to be used if required. We shall stop processing your personal information if the lawful basis used is no longer relevant.</p>

      <h4>Your Individual Rights</h4>
      <p>Under the GDPR your rights are as follows. You can read more about your rights in details <a routerLink="https://www.bmf.gv.at/en/data-protection.html" style="color: #fb9fa4">here</a>;</p>
      <ul>
        <li>the right to be informed;</li>
        <li>the right of access;</li>
        <li>the right to rectification;</li>
        <li>the right to erasure;</li>
        <li>the right to restrict processing;</li>
        <li>the right to data portability;</li>
        <li>the right to object; and</li>
        <li>the right not to be subject to automated decision-making including profiling.</li>
      </ul>

      <h4>Internet cookies</h4>
      <p>We use cookies on this website to provide you with a better user experience.</p>
      <p>We do this by placing a small text file on your device / computer hard drive to track how you use the website, to record or log whether you have seen particular messages that we display, to keep you logged into the website where applicable.</p>
      <p>Some cookies are required to enjoy and use the full functionality of this website.</p>
      <p>We use a cookie control system which allows you to accept the use of cookies, and control which cookies are saved to your device / computer. Some cookies will be saved for specific time periods, where others may last indefinitely. Your web browser should provide you with the controls to manage and delete cookies from your device, please see your web browser options.</p>
      <!--<p>Cookies that we use are defined in Schedules 1, 1A and 2 at the end of this policy.</p>-->

      <h4>Data security and protection</h4>
      <p>We ensure the security of any personal information we hold by using secure data storage technologies and precise procedures in how we store, access and manage that information. </p>
      <p>Our methods meet the GDPR compliance requirement.</p>

      <h4>Transparent Privacy Explanations</h4>
      <p>We have provided some further explanations about user privacy and the way we use this website to help promote a transparent and honest user privacy methodology.</p>

      <h4>Adverts, Sponsored links and Affiliate Tracking</h4>
      <p>Our website does not contain adverts, sponsored or affiliate links on any page.</p>

      <h4>Email Messages</h4>
      <p>Under the GDPR we use the contract lawful basis to send emails to facilitate our service.  We do not send any marketing emails.</p>

      <!--<h4>Schedule 1: First-Party Cookies</h4>
      <table border="1" style="width:100%">
        <tbody><tr>
          <th rowspan="1" colspan="1">Name of Cookie</th>
          <th rowspan="1" colspan="1">Purpose</th>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">jsessionid</td>
          <td rowspan="1" colspan="1">Maintain state of user interaction on the website</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">hideArtistNotify</td>
          <td rowspan="1" colspan="1">Prevent artist info displaying if cleared by user</td>
        </tr>
        </tbody></table>

      <h4>Schedule 1A: Strictly Necessary Cookies</h4>
      <table border="1" style="width:100%">
        <tbody><tr>
          <th rowspan="1" colspan="1">Name of Cookie</th>
          <th rowspan="1" colspan="1">Purpose</th>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">jsessionid</td>
          <td rowspan="1" colspan="1">Maintain state of user interaction on the website</td>
        </tr>
        </tbody></table>

      <h4>Schedule 2: Third-Party Cookies</h4>
      <table border="1" style="width:100%">
        <tbody><tr>
          <th rowspan="1" colspan="1">Name of Cookie</th>
          <th rowspan="1" colspan="1">Purpose</th>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">cookieconsent_dismissed</td>
          <td rowspan="1" colspan="1">Remember if user has accepted cookies on the website</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">_ga</td>
          <td rowspan="1" colspan="1">Used by Google Analytics to monitor website traffic</td>
        </tr>
        <tr>
          <td rowspan="1" colspan="1">_gat</td>
          <td rowspan="1" colspan="1">Used by Google Analytics to monitor website traffic</td>
        </tr>
        </tbody></table>-->
    </div>
  </div>
</div>
