<div class="information-container">
  <div fxFill fxLayout="column">
    <div fxLayout="row">
      <div fxFlex="70" fxLayout="row" fxLayoutGap="5px">
        <div class="artist-full-name-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <span class="sidenav-top artist-full-name">{{user.name}} {{user.surname}}</span>
          <span class="sidenav-top artist-role">User</span>
        </div>
        <div *ngIf="this.loggedInUserId!==this.user.id" fxLayoutAlign="end center" fxFlex="auto">
          <button (click)="messageUser()" color="primary" mat-button style="height: 40px">
            <mat-icon color="primary">message</mat-icon>
            <span class="edit-text" style="padding-left: 10px">Message User</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

