@import '../../../../new-theme';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

.card-container {
  width: auto;
  cursor: pointer;
}

.card-img-wrap {
  position: relative;
  max-height: 400px;
  max-width: 400px;
  overflow: hidden;
}

.card-img-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.card-img-wrap:hover .card-img-description-layer {
  visibility: visible;
  opacity: 1;
}

.card-img-description {
  transition: .2s;
  transform: translateY(1em);

  font-size: 2rem;
}

.card-img-wrap:hover .card-img-description {
  transform: translateY(0);
}

.card-img {
  margin: auto;
}
