<!--<mat-card class="card-view">
  <img *ngIf="artwork" mat-card-image [src]="artwork.image" [alt]="artwork.name" class="card-image">
  <mat-card-content align="center">
      <p class="card-content">
        {{artwork.name}}
      </p>
  </mat-card-content>
</mat-card>
-->
<a [routerLink]="'/' + artwork.id" routerLinkActive="active">
  <div class="card-container">
    <div class="card-img-wrap">
      <img class="card-img" *ngIf="artwork" [src]="artwork.image" [alt]="artwork.name">
      <div class="card-img-description-layer">
        <p class="card-img-description">
          {{artwork.name}}
        </p>
      </div>
    </div>
  </div>
</a>
