<mat-card class="review-card-container">
  <span class="review-card-text">{{review.text}} </span>

  <app-review-star [disableInteraction]=true [rating]="review.starRating"
                   style="display:block; margin-top: 5px"></app-review-star>

  <mat-card-actions>
    <button (click)="navigateToUser()" color="primary" mat-button>by {{review.customerDto.userName}}</button>
    <div fxFlex="auto"></div>
    <button (click)="navigateToCommission()" color="primary" mat-flat-button>Go to commission</button>
  </mat-card-actions>
</mat-card>
