<div *ngIf="isReady" class="artist-feed-card-container" fxLayout="row">
  <!-- Profile -->
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5rem">
    <img [src]="artistPfp" alt="{{artist.userName}} profile picture" class="artist-feed-card-pfp">
    <span class="artist-feed-card-fullName accent-color">{{artist.name}} {{artist.surname}}</span>
    <span class="artist-feed-card-userName">{{artist.userName}}</span>
    <button (click)="navigateToArtist(artist)" color="accent" mat-button>Go to profile page</button>
  </div>

  <!-- Artist images-->
  <div class="artist-feed-card-image-container" fxLayout="row" fxLayoutGap="0.2rem">
    <div *ngFor="let artwork of artworks" class="artist-feed-card-image-wrap">
      <img [alt]="artwork.name" [src]="globals.assetsPath + artwork.imageUrl" class="artist-feed-card-image-preview"
           loading="lazy">
      <div class="artist-feed-card-image-description-layer">
        <p class="artist-feed-card-image-description">
          {{ this.globalsFunctions.artworkNameParser(artwork.name)}}
        </p>
      </div>
    </div>
  </div>
</div>
