<div *ngIf="isReady" class="artist-feed-card-container" fxLayout="row">
  <!-- Profile -->
  <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="0.5rem">
    <img [src]="artistPfp" alt="{{artist.userName}} profile picture" class="artist-feed-card-pfp">
    <span class="artist-feed-card-fullName accent-color">{{artist.name}} {{artist.surname}}</span>
    <span class="artist-feed-card-userName">{{artist.userName}}</span>
    <button (click)="navigateToArtist(artist)" color="accent" mat-button>Go to profile page</button>
  </div>

  <!-- Artist images-->
  <div class="artist-feed-card-image-container">
    <cdk-virtual-scroll-viewport class="viewport" itemSize="{{artworks.length}}" orientation="horizontal">
      <div (click)="setSelectedArtwork(i)"
           *ngFor="let artwork of artworks; let i = index;"
           class="artist-feed-card-image-wrap">
        <img
          [alt]="artwork.name"
          [src]="globals.assetsPath + artwork.imageUrl"
          class="artist-feed-card-image-preview"
          loading="lazy">
        <div class="artist-feed-card-image-description-layer">
          <p class="artist-feed-card-image-description">
            {{globalFunctions.artworkNameParser(artwork.name)}}
          </p>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>

<div *ngIf="isReady">
  <app-gallery-carousel
    (closeCarousel)="selectedArtwork = null"
    *ngIf="selectedArtwork !== null"
    [artworks]="artworks"
    [selectedArtworkId]="selectedArtwork">
  </app-gallery-carousel>
</div>
