.artist-feed-card-container {
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
}

.viewport {
  max-height: 300px;
  width: 100%;
}

// Artist feed profile information
.artist-feed-card-pfp {
  border-radius: 10px;
  max-width: 200px;
}

.artist-feed-card-fullName {
  font-weight: bold;
}

.artist-feed-card-userName {
}

.artist-feed-card-image-preview {
  max-height: 270px;
  object-fit: cover;
}

.artist-feed-card-image-container {
  overflow: hidden;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
}

.artist-feed-card-image-wrap:first-child {
  margin: 8px 8px 0 0;
  position: relative;
}

.artist-feed-card-image-wrap {
  margin: 8px 8px 0 8px;
  position: relative;
  cursor: pointer;
}

.artist-feed-card-image-description-layer {
  position: absolute;
  height: 270px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity 1.4s, visibility 1.8s;
}


.artist-feed-card-image-wrap:hover .artist-feed-card-image-description-layer {
  visibility: visible;
  opacity: 0.7;
}

.artist-feed-card-image-description {
  transition: 2s;
  transform: translateY(1em);
  font-size: 1rem;
  text-align: center;
}

.artist-feed-card-image-wrap:hover .artist-feed-card-image-description {
  transform: translateY(0);
}


.artist-feed-card-image-preview:hover {
  filter: brightness(0.9) drop-shadow(2px 4px 6px black);

  img {
    transform: scale(1.1) !important;
    transition-duration: 3s;
  }

  span {
    opacity: 1;
  }
}

.artist-feed-card-image-container {
  width: 100%;
}

.artist-feed-card-image-container .viewport {
  height: 300px;
  width: 100%;
}

.artist-feed-card-image-container .viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}


//width

::-webkit-scrollbar {
  height: 10px;
}

// Track
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: #fb9fa4;
  border-radius: 10px;
}

