.artist-feed-card-container {
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.1);
}

// Artist feed profile information
.artist-feed-card-pfp {
  border-radius: 10%;
  max-width: 200px;
}

.artist-feed-card-fullName {
  font-weight: bold;
}

.artist-feed-card-userName {

}

.artist-feed-card-image-preview {
  max-height: 300px;
}

.artist-feed-card-image-container {
  overflow: hidden;
}
