<div fxLayout="column">
  <h1 mat-dialog-title >Delete Artwork {{this.data.artwork.name}}</h1>
  <div mat-dialog-content>
    Are you sure, that you want to delete the artwork <strong>{{this.data.artwork.name}}</strong>?
  </div>
  <br>
  <img fxFlexAlign="center" [src]="'assets/' + this.data.artwork.imageUrl" alt="" class="preview-image">
  <div fxFlexAlign="center" mat-dialog-actions>
    <button mat-button mat-dialog-close>No</button>
    <button (click)="deleteArtwork()" mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>
</div>
