.information-container {
  height: 300px;
}

.artist-profile-picture {
  max-width: 100px;
  height: auto;
  border-radius: 10%;
}

.artist-full-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.artist-full-name-container {
  padding-top: 5px;
}

.artist-role {
  font-size: 1rem;
}

.artist-middle-menu {
  height: 100px;
}

.artist-middle-menu > div {
  height: 100%;
  max-width: 40%;
  margin: auto;
}

.artist-middle-menu > div > a {
  text-decoration: none;
}

.artist-about-header {
  font-weight: bold;
  font-size: 1.3rem;
}

.artist-about-description {
  padding-top: 10px;
  text-align: justify;
  max-width: 50%;
}

.artist-about-description-edit {
  padding-top: 10px;
  max-width: 100%;
}

.description-form {
  //min-width: 150px;
  width: 100%;
  height: 500px;
}

.description-form-field {
  width: 100%;
}

.see-more-link{
  text-decoration: none;
}


.see-more-link:hover{
  text-decoration: underline;
}

@media screen and (max-width: 959px) {
  .artist-about-description {
    padding-top: 10px;
    text-align: justify;
    max-width: 80%;
  }

  .artist-full-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .artist-about-header {
    font-weight: bold;
    font-size: 1rem;
  }
}
