<div>
  <div fxLayout="row" fxFill>
    <div fxFlex="auto">
      <span class="sidenav-top artist-about-header">About</span>
      <p class="sidenav-top artist-about-description">
        {{artist.description}}
      </p>
    </div>
    <div *ngIf="this.loggedInUserId!==this.artist.id" fxLayoutAlign="end center" fxFlex="auto">
      <button (click)="messageUser()" color="primary" mat-button style="height: 40px">
        <mat-icon color="primary">message</mat-icon>
        <span class="edit-text" style="padding-left: 10px">Message User</span>
      </button>
    </div>
  </div>
  <br>
</div>
<div *ngIf="profileSettings">
  <div *ngFor="let element of profileSettings.layout; let i = index">
    <div *ngIf="element.type.includes('Gallery')">
      <div>
        <span class="sidenav-top artist-about-header">{{element.componentName}}</span>
        <div fxFlex="auto" fxLayoutAlign="end">
          <button (click)="switchTab(1)" color="primary" style="font-size: 1rem" mat-button>See More</button>
        </div>
      </div>
      <app-artist-gallery-subsections [artist]="artist"
                                      [tags]="profileSettings.layout[i].tags"></app-artist-gallery-subsections>
      <br>
    </div>

    <div *ngIf="element.componentName.substring(0,6) === 'Review'">
      <div>
        <span class="sidenav-top artist-about-header">{{element.componentName}}</span>
        <div fxFlex="auto" fxLayoutAlign="end">
          <button (click)="switchTab(2)" color="primary" mat-button style="font-size: 1rem">See More</button>
        </div>
      </div>
      <app-review-page [user]="artist"></app-review-page>
      <br>
    </div>

  </div>
</div>

