.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 70%;
  width: 100%;
  position: absolute;
  top: 25%;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
  padding-right: 8rem;
}


.icon {
  margin:  0 8rem 0 8rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.text-container {
  position: relative;
  width: 220px;
  left: 60%;
}

.line{
  height: 4rem;
  border-right: 1px solid #fb9fa4;
  position: relative;
  right: 50%;
}

.main-line {
  border-top: 2px solid #fb9fa4;
  position: relative;
  width: 16rem;
  left: 56.7%;
}

