<div *ngIf="isReady" class="primary">
  <div class="cdk-virtual-scroll-data-source-example">
    <cdk-virtual-scroll-viewport  class="example-viewport" itemSize="{{data.artworkDto.sketchesDtos.length + 2}}"
                                 orientation="horizontal">

      <!-- Start Node -->
      <div class="start-section">
        <div [ngStyle]="{'top': '40px'}" class="start-text-container">
          <span><b>30.05.2020</b></span>
          <br>
          <span><b>Start of your commission</b></span>
          <br><br>
          <p class="timeline-p">
            On this day the artist {{data.artistDto.userName}} and you
            decided to create something great
          </p>
        </div>
        <div [ngStyle]="{'top': '2px'}" class="line"></div>
        <div [ngStyle]="{'top': '20px'}" class="main-line"></div>
        <mat-icon class="accent icon">start</mat-icon>
      </div>
      <!-- Midsection -->
        <div  *cdkVirtualFor="let sketch of data.artworkDto.sketchesDtos; let i = index" class="example-item">
          <app-commission-timeslots (selectArtworkEvent)="setSelectedArtwork(i)"
            [sketch]="data.artworkDto.sketchesDtos[i]" [index]="i"></app-commission-timeslots>
        </div>



      <!-- End Node -->
      <div class="end-section">
        <!--
        <div class="upper-component" [ngStyle]="{'visibility': ((data.sketches.length*2)%2 === 1) ? 'visible' : 'hidden'}">
          <div class="text-container" [ngStyle]="{'top': '40px'}">
            <span><b>30.05.2020</b></span>
            <br>
            <span><b>Start of your commission</b></span>
            <br><br>
            <p>
              On this day the artist Max Mustermann and you
              decided to create something great
            </p>
          </div>
          <div class="line" [ngStyle]="{'top': '2px'}"></div>
        </div> -->
        <mat-icon class="accent icon">check</mat-icon>
        <div [ngStyle]="{'visibility': ((data.artworkDto.sketchesDtos.length*2)%2 === 0) ? 'visible' : 'hidden'}"
             class="lower-component">
          <div [ngStyle]="{'bottom': '2px'}" class="line"></div>
          <div [ngStyle]="{'bottom': '40px'}" class="text-container">
            <span><b>30.05.2021</b></span>
            <br>
            <span><b>End of your commission</b></span>
            <br><br>
            <p class="timeline-p">
              On this day your commission has come to an end.
            </p>
          </div>
        </div>
      </div>

      <div class="final-image-section">
        <h1>Your final image</h1>
        <div class="final-image-subsection">
          <h2>{{data.artworkDto.name}}</h2>
          <img (click)="setSelectedArtwork(this.artworks.length-1)" *ngIf="!isPlaying" alt="{{data.artworkDto.name}}" class="final-image" src="/assets/{{data.artworkDto.imageUrl}}">
          <img (click)="setSelectedArtwork(this.artworks.length-1)" *ngIf="isPlaying" alt="{{data.artworkDto.name}}" class="final-image" src="/assets/{{data.artworkDto.imageUrl}}">
          <br><br>
          <span>Rewind the whole process</span> <br>
          <button (click)="isPlaying === true? isPlaying = false : isPlaying = true" color="accent" mat-icon-button>
            <mat-icon *ngIf="!isPlaying">play_arrows</mat-icon>
            <mat-icon *ngIf="isPlaying">stop</mat-icon>
          </button>
        </div>
      </div>

    </cdk-virtual-scroll-viewport>
  </div>
  <app-gallery-carousel
    (closeCarousel)="selectedArtwork=null"
    *ngIf="selectedArtwork!== null"
    [artworks]="this.artworks"
    [selectedArtworkId]="selectedArtwork">
  </app-gallery-carousel>
</div>
