<button mat-icon-button class="close-button" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Login</h1>

<div *ngIf="error" class="error-message" role="alert" >

    <strong>Authentication problems!</strong> <br>
    {{ errorMessage }}
  <button mat-icon-button (click)="vanishError()" class="close-error" data-dismiss="alert" aria-label="Close">
    <mat-icon>close</mat-icon>
  </button>
</div>


<div mat-dialog-content [formGroup]="loginForm" (ngSubmit)="loginUser()" fxLayout="column">
  <p *ngIf="!error">Welcome Back!</p>
  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Username</mat-label>
    <input matInput name="username" formControlName="username" class="form-control" id="inputUsername"
                     aria-describedby="usernameHelp" >
    <div *ngIf="submitted && loginForm.controls.username.errors" class="error">
      <small class="warning" *ngIf="loginForm.controls.username.errors.required">Your username is required! </small>
    </div>
  </mat-form-field>

  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Password</mat-label>
    <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" formControlName="password" class="form-control" id="password">
    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
      <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <div *ngIf="submitted && loginForm.controls.password.errors" class="error">
      <small class="warning" *ngIf="loginForm.controls.password.errors.required">Your password is required!</small>
      <small class="warning" *ngIf="loginForm.controls.password.errors.minlength">Your password must be at least 8 characters long!</small>
    </div>
  </mat-form-field>


    <button mat-flat-button name="submit-button" color="primary" class="submit-button" cdkFocusInitial (click)="loginUser()">Login</button>
    <br>
  <div fxLayout="column">
    <span style="text-align: center" >Not a member?</span>
    <button mat-button  class="submit-button" (click)="openDialog()">Create Account</button>
  </div>
</div>



