.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.error-message{
  color: red;
}

.warning{
  color: red;
}

.submit-button{
  color: black;
  background: white;
  border: 2px black solid;
}
