<div class="total">
  <button class="close-button" mat-dialog-close mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
  <h1 mat-dialog-title>Login</h1>

  <div *ngIf="error" class="error-message" role="alert">

    <strong>Authentication problems!</strong> <br>
    {{ errorMessage }}
    <button (click)="vanishError()" aria-label="Close" class="close-error" data-dismiss="alert" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>


  <div (ngSubmit)="loginUser()" [formGroup]="loginForm" fxLayout="column" mat-dialog-content style="width: auto">
    <p *ngIf="!error">Welcome Back!</p>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>E-mail</mat-label>
      <input aria-describedby="emailHelp" class="form-control" formControlName="email" id="inputEmail" matInput
             name="email">
      <mat-error *ngIf="loginForm.controls.email.errors">
        <small *ngIf="loginForm.controls.email.errors.required">Your email is required! </small>
        <small *ngIf="loginForm.controls.email.errors.email">The email you entered is invalid! </small>
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Password</mat-label>
      <input [type]="hidePassword ? 'password' : 'text'" class="form-control" formControlName="password" id="password"
             matInput name="password">
      <button (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword" mat-icon-button
              matSuffix>
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls.password.errors">
        <small *ngIf="loginForm.controls.password.errors.required">Your password is required!</small>
        <small *ngIf="loginForm.controls.password.errors.minlength">Your password must be at least 8 characters
          long!</small>
      </mat-error>
    </mat-form-field>
    <button (click)="loginUser()" cdkFocusInitial type="submit" class="submit-button" color="primary" mat-flat-button
            name="submit-button">Login
    </button>
    <div fxLayout="column">
      <span style="text-align: center">Not a member?</span>
      <button (click)="openDialog()" class="submit-button" color="primary" mat-flat-button>Create Account</button>
    </div>
  </div>
</div>
