<div (click)="close()" class="gallery-carousel">
  <mat-card class="image-Card">

    <mat-card-header *ngIf="artworks[animArtwork].name">

      <mat-card-title class="image-title">
        {{globalFunctions.artworkNameParser(artworks[animArtwork].name)}} </mat-card-title>


      <mat-card-subtitle (click)="routeToArtist()" class="carousel-artist">
        by {{artist.userName}}
      </mat-card-subtitle>
    </mat-card-header>

    <div (click)="onEvent($event)" class="carousel-image">
      <img (@slide-in.done)="animDone()" [@slide-in]="animState" [src]="url+ artworks[this.animArtwork].imageUrl">
      <div class=" carousel-button">
        <span (click)="previous()" (keyup.delete)="previous()" style="font-size: large" tabindex="1"><mat-icon
          class="material-icons">chevron_left</mat-icon></span>
        <span></span>
        <span (click)="next()" (keyup.enter)="next()" style="font-size: large" tabindex="2"><mat-icon
          class="material-icons">chevron_right</mat-icon> </span>

      </div>
    </div>
    <button (click)="close()" *ngIf="artworks[animArtwork].name" class="carousel-close" mat-icon-button tabindex="3">
      <mat-icon>close</mat-icon>
    </button>
    <button (click)="close()" *ngIf="!artworks[animArtwork].name" class="carousel-close-com" mat-icon-button
            tabindex="3">
      <mat-icon>close</mat-icon>
    </button>
    <mat-card-subtitle class="subtitle">
      {{artworks[animArtwork].description}}
    </mat-card-subtitle>

  </mat-card>
  <br>
  <mat-card-subtitle *ngIf="artworks[animArtwork].name" class="tag-view"
                     style=" text-align: center;color: white  ; font-size: x-large"> {{stringifyTags()}}&zwnj;
  </mat-card-subtitle>


</div>
