<div (click)="close()" class="gallery-carousel">
  <mat-card class="image-Card">

    <mat-card-header>

      <mat-card-title
        style="text-align: center; font-size: x-large"> {{artworks[animArtwork].name.substring(artworks[animArtwork].name.lastIndexOf("_") + 1)}} </mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-subtitle (click)="routeToArtist()" style="text-align: center; font-size: x-large">
        by {{artist.userName}} </mat-card-subtitle>
      <mat-divider></mat-divider>
    </mat-card-header>

    <div (click)="onEvent($event)" class="carousel-image">
      <img (@slide-in.done)="animDone()" [@slide-in]="animState" [src]="url+ artworks[animArtwork].imageUrl">
      <div class=" carousel-button">
        <span (click)="previous()" (keyup.enter)="previous()" style="font-size: large" tabindex="1">&lt;  </span>
        <span></span>
        <span (click)="next()" (keyup.enter)="next()" style="font-size: large" tabindex="2">&gt;   </span>

      </div>


    </div>
    <span (click)="close()" class="carousel-close" style="font-size: large" tabindex="3">Return</span><br>
    <mat-card-subtitle
      style="text-align: center; font-size: x-large"> {{artworks[animArtwork].description}}</mat-card-subtitle>
  </mat-card>
  <br>
  <mat-card-subtitle class="tag-view"
                     style=" text-align: center;color:white; font-size: x-large"> {{stringiyTags()}}</mat-card-subtitle>
</div>
