<div class="terms">
  <h3 style="color: red"><strong>This page is just an example of what it might look like and is not allowed to be used in any business context.</strong></h3>

  <div class="example-action-buttons">
    <button mat-flat-button color="primary" (click)="accordion.openAll()" style="margin-right: 10px;">Expand All</button>
    <button mat-flat-button color="primary" (click)="accordion.closeAll()">Collapse All</button>
  </div>

  <h1>Terms of Service</h1>

  <mat-accordion multi>
    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          General information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>These Terms and Conditions, together with any and all other documents referred to herein, set out the terms of use under which you may use this website, artsperience.com ("Our Site").  Please read these Terms and Conditions carefully and ensure that you understand them.  Your agreement to comply with and be bound by these Terms and Conditions is deemed to occur upon your first use of Our Site.  If you do not agree to comply with and be bound by these Terms and Conditions, you must stop using Our Site immediately.</p>

    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          1.  Definitions and Interpretation
        </mat-panel-title>
      </mat-expansion-panel-header>
      In these Terms and Conditions, unless the context otherwise requires, the following expressions have the following meanings:
      <ul>
        <li><strong>"Content"</strong> means any and all text, images, audio, video, scripts, code, software, databases and any other form of information capable of being stored on a computer that appears on, or forms part of, Our Site; and</li>
        <li><strong>"We/Us/Our"</strong> means Artsperience GmbH a company registered in Vienna and Lower Austria under company number 12345678, whose registered address is Favoritenstraße 9, 1040 Wien.</li>
      </ul>
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          2. Information About Us
        </mat-panel-title>
      </mat-expansion-panel-header>
      Our Site, artsperience.com, is owned and operated by Artsperience GmbH , a limited company registered in Vienna under company number 12345678, whose registered address and trading address is Favoritenstraße 9, 1040 Wien.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          3.	Access to Our Site
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>3.1	Access to Our Site is free of charge.  No part of Our Site requires payment of any kind in order to access or use it.</p>
      <p>3.2	It is your responsibility to make any and all arrangements necessary in order to access Our Site.</p>
      <p>3.3	Access to Our Site is provided "as is" and on an "as available" basis.  We may alter, suspend or discontinue Our Site (or any part of it) at any time and without notice.  We will not be liable to you in any way if Our Site (or any part of it) is unavailable at any time and for any period.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          4.	Intellectual Property Rights
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>4.1	All Content included on Our Site and the copyright and other intellectual property rights subsisting in that Content, unless specifically labelled otherwise, belongs to or has been licensed by Us.  All Content is protected by applicable Austrian and international intellectual property laws and treaties.  All rights are reserved.</p>
      <p>4.2	Subject to sub-Clauses 4.3 and 4.6 you may not reproduce, copy, distribute, sell, rent, sub-licence, store, or in any other manner re-use Content from Our Site unless given express written permission to do so by Us.</p>
      <p></p>
      4.3	You may:<br>
      4.3.1	Access, view and use Our Site in a web browser (including any web browsing capability built into other types of software or app);<br>
      4.3.2	Download Our Site (or any part of it) for caching;<br>
      4.3.3	Print pages from Our Site;<br>
      4.3.4	Download extracts from pages on Our Site; and<br>
      4.3.5	Save pages from Our Site for later and/or offline viewing.<br>
      <p></p>
      4.4	Our status as the owner and author of the Content on Our Site (or that of identified licensors, as appropriate) must always be acknowledged.
      <p></p>
      <p>4.5	You may not use any Content saved or downloaded from Our Site for commercial purposes without first obtaining a licence from Us (or our licensors, as appropriate) to do so. </p>
      <p>4.6	Nothing in these Terms and Conditions limits or excludes the provisions of Chapter III of the Copyrights, Designs and Patents Act 1988 'Acts Permitted in Relation to Copyright Works', covering in particular the making of temporary copies; the making of personal copies for private use; research and private study; the making of copies for text and data analysis for non-commercial research; criticism, review, quotation and news reporting; caricature, parody or pastiche; and the incidental inclusion of copyright material.</p>
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          5.	Links to Our Site
        </mat-panel-title>
      </mat-expansion-panel-header>
      5.1	You may link to Our Site provided that:<br>
      5.1.1	You do so in a fair and legal manner;<br>
      5.1.2	You do not do so in a manner that suggests any form of association, endorsement or approval on Our part where none exists;<br>
      5.1.3	You do not use any logos or trade marks displayed on Our Site without Our express written permission; and<br>
      5.1.4	You do not do so in a way that is calculated to damage Our reputation or to take unfair advantage of it.<br>
      <p></p>
      5.2	You may not link to any page other than the homepage of Our Site, artsperience.com.  Deep-linking to other pages requires Our express written permission.
      <p></p>
      5.3	Framing or embedding of Our Site on other websites is not permitted without Our express written permission.  Please contact Us at <a href="mailto:info@artsperience.com" style="color: #fb9fa4" class="" shape="rect">info@artsperience.com</a> for further information.
      <p></p>
      5.4	You may not link to Our Site from any other site the main content of which contains material that:<br>
      5.4.1	Is sexually explicit;<br>
      5.4.2	Is obscene, deliberately offensive, hateful or otherwise inflammatory;<br>
      5.4.3	Promotes violence;<br>
      5.4.4	Promotes or assists in any form of unlawful activity;<br>
      5.4.5	Discriminates against, or is in any way defamatory of, any person, group or class of persons, race, sex, religion, nationality, disability, sexual orientation, or age;<br>
      5.4.6	Is designed or is otherwise likely to threaten, harass, annoy, alarm, inconvenience, upset, or embarrass another person;<br>
      5.4.7	Is calculated or is otherwise likely to deceive another person;<br>
      5.4.8	Is designed or is otherwise likely to infringe (or to threaten to infringe) another person's privacy;<br>
      5.4.9	Misleadingly impersonates any person or otherwise misrepresents the identity or affiliation of a particular person in a way that is calculated to deceive (obvious parodies are not included in this definition provided that they do not fall within any of the other provisions of this sub-Clause 5.4);<br>
      5.4.10	Implies any form of affiliation with Us where none exists;<br>
      5.4.11	Infringes, or assists in the infringement of, the intellectual property rights (including, but not limited to, copyright, trade marks and database rights) of any other party; or<br>
      5.4.12	Is made in breach of any legal duty owed to a third party including, but not limited to, contractual duties and duties of confidence.<br>
      <p></p>
      5.5	The content restrictions in sub-Clause 5.4 do not apply to content submitted to sites by other users provided that the primary purpose of the site accords with the provisions of sub-Clause 5.4.  You are not, for example, prohibited from posting links on general-purpose social networking sites merely because another user may post such content.  You are, however, prohibited from posting links on websites which focus on or encourage the submission of such content from users.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          6.	Links to Other Sites
        </mat-panel-title>
      </mat-expansion-panel-header>
      Links to other sites may be included on Our Site.  Unless expressly stated, these sites are not under Our control.  We neither assume nor accept responsibility or liability for the content of third party sites.  The inclusion of a link to another site on Our Site is for information only and does not imply any endorsement of the sites themselves or of those in control of them.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          7.	Disclaimers
        </mat-panel-title>
      </mat-expansion-panel-header>
      7.1	The Content on Our Site does not constitute advice on which you should rely.  It is provided for general information purposes only.  Professional or specialist advice should always be sought before taking any action relating to services if you are unsure of the implications.
      <p></p>
      7.2	We make no representation, warranty, or guarantee that Our Site will meet your requirements, that it will not infringe the rights of third parties, that it will be compatible with all software and hardware, or that it will be secure.
      <p></p>
      7.3	We make reasonable efforts to ensure that the Content on Our Site is complete, accurate, and up-to-date.  We do not, however, make any representations, warranties or guarantees (whether express or implied) that the Content is complete, accurate, or up-to-date.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          8.	Our Liability
        </mat-panel-title>
      </mat-expansion-panel-header>
      8.1	To the fullest extent permissible by law, We accept no liability to any user for any loss or damage, whether foreseeable or otherwise, in contract, tort (including negligence), for breach of statutory duty, or otherwise, arising out of or in connection with the use of (or inability to use) Our Site or the use of or reliance upon any Content included on Our Site.
      <p></p>
      8.2	To the fullest extent permissible by law, We exclude all representations, warranties, and guarantees (whether express or implied) that may apply to Our Site or any Content included on Our Site.
      <p></p>
      8.3	If you are a commercial user, We accept no liability for loss of profits, sales, business or revenue; loss of business opportunity, goodwill or reputation; loss of anticipated savings; business interruption; or for any indirect or consequential loss or damage.
      <p></p>
      8.4	We exercise all reasonable skill and care to ensure that Our Site is free from viruses and other malware.  We accept no liability for any loss or damage resulting from a virus or other malware, a distributed denial of service attack, or other harmful material or event that may adversely affect your hardware, software, data or other material that occurs as a result of your use of Our Site (including the downloading of any Content from it) or any other site referred to on Our Site.
      <p></p>
      8.5	We neither assume nor accept responsibility or liability arising out of any disruption or non-availability of Our Site resulting from external causes including, but not limited to, ISP equipment failure, host equipment failure, communications network failure, natural events, acts of war, or legal restrictions and censorship.
      <p></p>
      8.6	Nothing in these Terms and Conditions excludes or restricts Our liability for fraud or fraudulent misrepresentation, for death or personal injury resulting from negligence, or for any other forms of liability which cannot be excluded or restricted by law.  For full details of consumers' legal rights, including those relating to digital content, please contact your local Citizens' Advice Bureau or Trading Standards Office.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          9.	Viruses, Malware and Security
        </mat-panel-title>
      </mat-expansion-panel-header>
      9.1	We exercise all reasonable skill and care to ensure that Our Site is secure and free from viruses and other malware.
      <p></p>
      9.2	You are responsible for protecting your hardware, software, data and other material from viruses, malware, and other internet security risks.
      <p></p>
      9.3	You must not deliberately introduce viruses or other malware, or any other material which is malicious or technologically harmful either to or via Our Site.
      <p></p>
      9.4	You must not attempt to gain unauthorised access to any part of Our Site, the server on which Our Site is stored, or any other server, computer, or database connected to Our Site.
      <p></p>
      9.5	You must not attack Our Site by means of a denial of service attack, a distributed denial of service attack, or by any other means.
      <p></p>
      9.6	By breaching the provisions of sub-Clauses 9.3 to 9.5 you may be committing a criminal offence under the Computer Misuse Act 1990.  Any and all such breaches will be reported to the relevant law enforcement authorities and We will cooperate fully with those authorities by disclosing your identity to them.  Your right to use Our Site will cease immediately in the event of such a breach.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          10.	Acceptable Usage Policy
        </mat-panel-title>
      </mat-expansion-panel-header>
      10.1	You may only use Our Site in a manner that is lawful.  Specifically:<br>
      10.1.1	You must ensure that you comply fully with any and all local, national or international laws and/or regulations;<br>
      10.1.2	You must not use Our Site in any way, or for any purpose, that is unlawful or fraudulent;<br>
      10.1.3	You must not use Our Site to knowingly send, upload, or in any other way transmit data that contains any form of virus or other malware, or any other code designed to adversely affect computer hardware, software, or data of any kind; and<br>
      10.1.4	You must not use Our Site in any way, or for any purpose, that is intended to harm any person or persons in any way.<br>
      <p></p>
      10.2	We reserve the right to suspend or terminate your access to Our Site if you materially breach the provisions of this Clause 10 or any of the other provisions of these Terms and Conditions.  Specifically, We may take one or more of the following actions:<br>
      10.2.1	Suspend, whether temporarily or permanently, your right to access Our Site;<br>
      10.2.2	Issue you with a written warning;<br>
      10.2.3	Take legal proceedings against you for reimbursement of any and all relevant costs on an indemnity basis resulting from your breach;<br>
      10.2.4	Take further legal action against you as appropriate;<br>
      10.2.5	Disclose such information to law enforcement authorities as required or as We deem reasonably necessary; and/or<br>
      10.2.6	Any other actions which We deem reasonably appropriate (and lawful).<br>
      <p></p>
      10.3	We hereby exclude any and all liability arising out of any actions (including, but not limited to those set out above) that We may take in response to breaches of these Terms and Conditions.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          11.	Privacy and Cookies
        </mat-panel-title>
      </mat-expansion-panel-header>
      Use of Our Site is also governed by Our Cookie and Privacy Policies, available <a routerLink="/privacy-policy" style="color: #fb9fa4">here</a>.  These policies are incorporated into these Terms and Conditions by this reference.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          12.	Changes to these Terms and Conditions
        </mat-panel-title>
      </mat-expansion-panel-header>
      12.1	We may alter these Terms and Conditions at any time.  If We do so, details of the changes will be highlighted at the top of this page.  Any such changes will become binding on you upon your first use of Our Site after the changes have been implemented.  You are therefore advised to check this page from time to time.
      <p></p>
      12.2	In the event of any conflict between the current version of these Terms and Conditions and any previous version(s), the provisions current and in effect shall prevail unless it is expressly stated otherwise.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          13.	Contacting Us
        </mat-panel-title>
      </mat-expansion-panel-header>
      To contact Us, please email Us at <a href="mailto:info@artsperience.com" style="color: #fb9fa4" >info@artsperience.com</a>.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          14.	Communications from Us
        </mat-panel-title>
      </mat-expansion-panel-header>
      14.1	If We have your contact details, We may from time to time send you important notices by email.  Such notices may relate to matters including, but not limited to, service changes and changes to these Terms and Conditions.
      <p></p>
      14.2	Any and all marketing emails sent by Us include an unsubscribe link.  If you opt out of receiving emails from Us at any time, it may take up to 1 business days for your new preferences to take effect.
      <p></p>
      14.3	For questions or complaints about communications from Us (including, but not limited to marketing emails), please contact Us at <a href="mailto:info@artsperience.com" style="color: #fb9fa4" class="" shape="rect">info@artsperience.com</a>.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          14.	Communications from Us
        </mat-panel-title>
      </mat-expansion-panel-header>
      15.1	Any and all personal information that We may collect will be collected, used and held in accordance with the provisions of the Data Protection Act 1998 and your rights and Our obligations under that Act.
      <p></p>
      15.2	We may use your personal information to:<br>
      15.2.1	Reply to any communications you send to Us;<br>
      15.2.2	Send you important notices, as detailed in Clause 14;<br>
      15.2.3	Provide delivery and/or contact details to other users on the site when using our services.<br>
      <p></p>
      15.3	We will not pass on your personal information to any third parties.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          15.	Data Protection
        </mat-panel-title>
      </mat-expansion-panel-header>
      15.1	Any and all personal information that We may collect will be collected, used and held in accordance with the provisions of the Data Protection Act 1998 and your rights and Our obligations under that Act.
      <p></p>
      15.2	We may use your personal information to:<br>
      15.2.1	Reply to any communications you send to Us;<br>
      15.2.2	Send you important notices, as detailed in Clause 14;<br>
      15.2.3	Provide delivery and/or contact details to other users on the site when using our services.<br>
      <p></p>
      15.3	We will not pass on your personal information to any third parties.
    </mat-expansion-panel>

    <mat-expansion-panel class="primary mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="primary">
          16.	Law and Jurisdiction
        </mat-panel-title>
      </mat-expansion-panel-header>
      16.1	These Terms and Conditions, and the relationship between you and Us (whether contractual or otherwise) shall be governed by, and construed in accordance with, Austrian law.
      <p></p>
      16.2	If you are a consumer, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the jurisdiction of the courts of Austria.
      <p></p>
      16.3	If you are a business, any disputes concerning these Terms and Conditions, the relationship between you and Us, or any matters arising therefrom or associated therewith (whether contractual or otherwise) shall be subject to the exclusive jurisdiction of the courts of Austria.
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div class="go-up-button">
  <button mat-flat-button color="primary" (click)="goUp()">
    <mat-icon>keyboard_arrow_up</mat-icon>
    Go up
  </button>
</div>

