<div class="about">
  <h3 style="color: red"><strong>This page is just an example of what it might look like and is not allowed to be used
    in any business context.</strong></h3>

  <div class="headline"><h2>About our Service</h2></div>
  <p>
    Artsperience is the home of Austrian commission artists who love and thrive on the collaboration process in creating
    artwork personal to you. We launched Artsperience to challenge the industry to offer a fair and sustainable
    marketplace for artists, where anyone can discover and buy original art. We’re committed to eliminating the
    ‘starving artist’ syndrome and believe that affordable art and artist success shouldn’t be mutually exclusive.
  </p>
  <p class="margin-bottom-25 md-margin-bottom-40">
    It is the only service that allows you to find artists, facilitate art commissions entirely online and let you
    interact with artists so if you are looking to commission a painting, commission art or commission an artist, you
    came to the right place!
  </p>
</div>
