<div class="artist-page-wrapper">
  <div
    *ngIf="isReady"
    class="artist-page"
    fxLayout="column"
    fxLayoutAlign="start space-evenly"
    fxLayoutGap="0.5rem">
    <div class="information-container">
      <div fxFill fxLayout="column">
        <div fxLayout="row">
          <div fxFlex="70" fxLayout="row" fxLayoutGap="5px">
            <div fxLayoutAlign="center center">
              <img [src]="globals.assetsPath + profilePicture" alt="{{artist.userName}} profile picture"
                   class="artist-profile-picture">
            </div>
            <div class="artist-full-name-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
              <span class="accent-color artist-username">{{artist.userName}}</span>
              <span class="accent-color artist-full-name">{{artist.name}} {{artist.surname}}</span>
              <span class="accent-color artist-role">Artist</span>
            </div>
          </div>
        </div>
        <div class="artist-middle-menu">
          <mat-tab-group [(selectedIndex)]="tabIndex" backgroundColor="primary" dynamicHeight>
            <mat-tab label="Home">
              <br>
              <app-artist-information (tabIndexEvent)="changeIndex($event)" [artist]="artist"></app-artist-information>
            </mat-tab>
            <mat-tab label="Gallery">
              <br>
              <app-artist-gallery [artist]="artist"></app-artist-gallery>
            </mat-tab>
            <mat-tab label="Reviews">
            </mat-tab>
            <mat-tab label="Contact">
            </mat-tab>
            <mat-tab *ngIf="canEdit" label="My Commissions">
              <app-commission-page [user]="artist"></app-commission-page>
            </mat-tab>
            <mat-tab *ngIf="canEdit">
              <ng-template mat-tab-label>
                <span [matBadgeHidden]="!hasUnreadNotifications"
                      [matBadge]="notifications.length > 9 ? '9+' : notifications.length"
                      matBadgeColor="warn"
                      matBadgeOverlap="false">Notifications
                </span>
              </ng-template>
              <br>
              <div *ngIf="!hasReadNotifications && !hasUnreadNotifications">
                <span class="accent-color notification-header">You dont have any notifications!</span>
              </div>
              <mat-accordion multi>
                <mat-expansion-panel *ngIf="hasUnreadNotifications" [expanded]="hasUnreadNotifications"
                                     class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <span class="notification-header primary">Unread notifications</span>
                  </mat-expansion-panel-header>
                  <table (matSortChange)="sortNotifications($event, false)" matSort>
                    <tr>
                      <th class="primary" mat-sort-header="title">Message</th>
                      <th class="primary" mat-sort-header="createdAt">Created at</th>
                      <th class="primary" mat-sort-header="type">Type</th>
                      <th class="primary" mat-sort-header="referenceId">Reference</th>
                      <th class="primary">Has Read</th>
                    </tr>
                    <tr *ngFor="let notification of sortedNotifications">
                      <td class="primary">{{notification.title}}</td>
                      <td class="primary">{{notification.createdAt}}</td>
                      <td class="primary">{{convertNotificationTypeToString(notification.type)}}</td>
                      <td>
                        <button (click)="navigateToCommission(notification.referenceId)"
                                *ngIf="notification.type.toString().includes('COMMISSION')"
                                color="primary"
                                mat-flat-button>
                          Go to commission
                        </button>
                      </td>
                      <td>
                        <button
                          (click)="readNotification(notification)"
                          color="primary"
                          mat-button
                          mat-flat-button>
                          Read
                        </button>
                      </td>
                    </tr>
                  </table>

                  <button (click)="readAllNotifications()" color="primary" mat-flat-button>Read all</button>
                </mat-expansion-panel>
                <mat-expansion-panel *ngIf="hasReadNotifications" [expanded]="hasReadNotifications"
                                     class="mat-elevation-z0">
                  <mat-expansion-panel-header>
                    <span class="primary notification-header">Read notifications</span>
                  </mat-expansion-panel-header>
                  <table (matSortChange)="sortNotifications($event, true)" matSort>
                    <tr>
                      <th class="primary" mat-sort-header="title">Message</th>
                      <th class="primary" mat-sort-header="createdAt">Created at</th>
                      <th class="primary" mat-sort-header="type">Type</th>
                      <th class="primary" mat-sort-header="referenceId">Reference</th>
                    </tr>
                    <tr *ngFor="let notification of readNotifications">
                      <td class="primary">{{notification.title}}</td>
                      <td class="primary">{{notification.createdAt}}</td>
                      <td class="primary">{{convertNotificationTypeToString(notification.type)}}</td>
                      <td>
                        <button (click)="navigateToCommission(notification.referenceId)"
                                *ngIf="notification.type.toString().includes('COMMISSION')"
                                color="primary"
                                mat-flat-button>
                          Go to commission
                        </button>
                      </td>
                    </tr>
                  </table>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="canEdit" class="edit-button">
    <button (click)="navigateToEdit()" color="primary" mat-button>
      <mat-icon color="primary">edit</mat-icon>
      <span class="edit-text">Edit your page</span>
    </button>
  </div>
  <div *ngIf="!canEdit" class="edit-button">
    <button (click)="goBack()" color="primary" mat-button>
      <mat-icon color="primary">arrow_back</mat-icon>
      <span class="edit-text">Go Back</span>
    </button>
  </div>


</div>



