table {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

mat-expansion-panel {
  background: transparent;
  box-shadow: none;
}

.notification-header {
  font-weight: bold;
  font-size: 1.3rem;
}

.artist-page {
  width: 60%;
  margin: auto;
}

.artist-page-wrapper {
  height: 100%;
}

@media screen and (max-width: 959px) {
  .artist-page {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.edit-button {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  text-align: right;
  padding: 32px;
}

.edit-text {
  margin-left: 10px;
}

.information-container {
  height: 300px;
}

.artist-profile-picture {
  max-width: 100px;
  height: auto;
  border-radius: 10%;
}

.artist-full-name {
  font-size: 1.1rem;
  font-weight: lighter;
}

.artist-username {
  font-size: 1.5rem;
  font-weight: bold;
}

.artist-full-name-container {
  padding-top: 5px;
}

.artist-role {
  font-size: 1rem;
}

.artist-middle-menu {
  height: 100px;
}


.artist-middle-menu > div > a {
  text-decoration: none;
}


@media screen and (max-width: 959px) {
  .artist-full-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .artist-about-header {
    font-weight: bold;
    font-size: 1rem;
  }
}
