<div class="artist-page-wrapper">
  <div
    *ngIf="isReady"
    class="artist-page"
    fxLayout="column"
    fxLayoutAlign="start space-evenly"
    fxLayoutGap="0.5rem">
    <div class="information-container">
      <div fxFill fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="row" fxLayoutGap="5px" style="width: 100%">
            <div fxLayoutAlign="center center">
              <img [src]="globals.assetsPath + profilePicture" alt="{{artist.userName}} profile picture"
                   class="artist-profile-picture">
            </div>
            <div class="artist-full-name-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
              <span class="sidenav-top artist-username">{{artist.userName}}</span>
              <span class="sidenav-top artist-full-name">{{artist.name}} {{artist.surname}}</span>
              <span class="sidenav-top artist-role">Artist</span>
            </div>
            <div fxFlex="fill"></div>
            <!--
            <div *ngIf="canReport()" fxLayoutAlign="end center">
              <button (click)="reportProfile()" color="primary" mat-icon-button matTooltip="Report this artist"
                      matTooltipPosition="above">
                <mat-icon>flag</mat-icon>
              </button>
            </div>
            -->
          </div>
        </div>
        <div class="artist-middle-menu">
          <mat-tab-group [(selectedIndex)]="tabIndex" backgroundColor="primary" dynamicHeight>
            <mat-tab label="Home">
              <br>
              <app-artist-information (tabIndexEvent)="changeIndex($event)" [artist]="artist"></app-artist-information>
            </mat-tab>
            <mat-tab label="Gallery">
              <br>
              <app-artist-gallery [artist]="artist"></app-artist-gallery>
            </mat-tab>
            <mat-tab label="Reviews">
              <div>
                <span style="font-weight: bold;font-size: 1.3rem;">Reviews</span>
              </div>
              <br>
              <app-review-page [user]="artist"></app-review-page>
            </mat-tab>
            <mat-tab *ngIf="canEdit" label="My Commissions">
              <br>
              <app-commission-page [user]="artist"></app-commission-page>
            </mat-tab>
            <mat-tab *ngIf="canEdit">
              <br>
              <ng-template mat-tab-label>
                <span [matBadgeHidden]="!hasUnreadNotifications"
                      [matBadge]="notificationLength > 9 ? '9+' : notificationLength"
                      matBadgeColor="warn"
                      matBadgeOverlap="false">Notifications
                </span>
              </ng-template>
              <div>
                <span style="font-weight: bold;font-size: 1.3rem;">Notifications</span>
              </div>
              <app-notification-display
                (notificationLengthEvent)="setNotificationLength($event)"
                (unreadEvent)="setUnreadNotifications($event)"
                [user]="user">
              </app-notification-display>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="canEdit" class="edit-button">
    <button (click)="navigateToEdit()" color="primary" mat-button>
      <mat-icon color="primary" >edit</mat-icon>
      <span class="edit-text" style="font-size: 1.1rem">Edit your page</span>
    </button>
  </div>
  <div *ngIf="!canEdit" class="edit-button">
    <button (click)="goBack()" color="primary" mat-button>
      <mat-icon color="primary">arrow_back</mat-icon>
      <span class="edit-text">Go Back</span>
    </button>
  </div>


</div>



