html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

.container {
  display: flex;
  max-height: 100%;
  flex-direction: column;

}


.container > div {
  flex: 0 0 auto;
}

.container > div.content {
  flex: 0 1 auto;
  overflow: auto;
}

.section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}


:root {
  --gridLayout: repeat(auto-fill, 1fr);
}

* {
  box-sizing: border-box;
}

.feed {

  max-height: 90rem; //change here
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  grid-row-gap: .5em;
  grid-column-gap: 0.1em;
  width: 100%;
  margin: 0 auto;

  .image {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0.5rem;
    @media(max-width: 700px) {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
    }
    overflow: hidden;
    position: relative;
    cursor: pointer;

    img {
      overflow: auto;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition-duration: 1s;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      width: 100%;
      height: 100%;
      opacity: 0;
      font-size: 3rem;
      justify-content: center;
      align-items: center;
      color: blue;
      pointer-events: none;
    }

    filter: drop-shadow(1px 2px 3px black);

    &:hover {
      filter: brightness(0.9) drop-shadow(2px 4px 6px black);

      img {
        transform: scale(1.1) !important;
        transition-duration: 3s;
      }

      span {
        opacity: 1;
      }
    }
  }

}

.example-form {
  min-width: 150px;
  max-width: 400px;

}

.scroll-wrapper {
  // width: 1000px;


  position: relative;

}


::ng-deep input.mat-input-element {
  color: white;
}

md-divider {
  border-width: 1px;
  border-style: solid;
}


* {
  margin: 0;
  padding: 0;
  border: 0;
}

.card-container {
  width: auto;
  cursor: pointer;
}

.card-img-wrap {
  position: relative;

  overflow: hidden;

}

.card-img-description-layer {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .1s, visibility .1s;
}

.card-img-wrap:hover .card-img-description-layer {
  visibility: visible;
  opacity: 0.7;
}

.card-img-description {
  transition: 1s;
  transform: translateY(1em);
  font-size: 1rem;
  text-align: center;
}

.card-img-wrap:hover .card-img-description {
  transform: translateY(0);
}

.card-img {
  width: 100%;
  height: auto;
}
