<form class="col-12" style="padding-left: 1%">
  <div>
    <mat-form-field>
      <mat-label class="primary">Search</mat-label>
      <input (click)="this.searchInput=''" (keydown.enter)="searchParams.pageNr=0; loadFeed()"
             [(ngModel)]=" searchInput"
             class="primary" matInput name="searchForm" placeholder="search">
    </mat-form-field>

    <mat-label [matMenuTriggerFor]="tagListMenu" class="primary">Tags
      selected {{searchParams.tagIds.length}}</mat-label>
    <mat-menu #tagListMenu="matMenu" class="mat-checkbox">
      <mat-checkbox #tagMenuItems
                    (change)="onTagSelect($event)"
                    (click)="$event.stopPropagation()"
                    *ngFor="let tag of tags"
                    [(ngModel)]="tag.selected"
                    [value]="tag.name"
                    class="mat-primary"
                    name="tagCheckbox">
        {{tag.name}}
      </mat-checkbox>
    </mat-menu>
  </div>
  <div class="pagination">
    <button (click)="previousPage()" class="paginationButton" color="accent" mat-button>
      <span class="material-icons">chevron_left</span>
    </button>
    <mat-label class="paginationText accent-color" style="width: 20px">{{searchParams.pageNr}}</mat-label>
    <button (click)="nextPage()" class="paginationButton" color="accent" mat-button>
      <span class="material-icons">chevron_right</span>
    </button>
    <mat-divider></mat-divider>
  </div>
</form>


<mat-divider></mat-divider>
<div class="container" id="container">
  <div class="header"><br></div>
  <div class="content">
    <div class="card-img-wrap">
      <div
        _ngcontent-c6=""
        class="feed"
        gdcolumns="repeat(auto-fill, minmax(400px, 1fr))"
        gdgap="10px"
        style="display: grid; grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); gap: 10px;">
        <div
          *ngFor="let artwork of images; let i = index"
          [style.gridCol]="artwork.col"
          [style.gridRow]="artwork.row"
          class="image">
          <button (click)="deleteImage(artwork)" *ngIf="isUser" class="delete" color="accent" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
          <img (click)="setSelectedArtwork(i) " [src]="globals.assetsPath + artwork.imageUrl" alt="">

          <div class="card-img-description-layer">
            <p class="card-img-description">
              {{globalFunctions.artworkNameParser(artwork.name)}}
            </p>
          </div>
        </div>
        <span></span>
      </div>
    </div>
  </div>
</div>

<div *ngIf="imagesLoaded">
  <app-gallery-carousel
    (closeCarousel)="selectedArtwork=null"
    *ngIf="selectedArtwork!== null"
    [artworks]="images"
    [selectedArtworkId]="selectedArtwork">
  </app-gallery-carousel>
</div>

