@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import '~@angular/material/theming';

$background: #434F6A;

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .primary-background {
    background-color: mat-color($primary);
  }
  .accent-background {
    background-color: mat-color($accent);
  }
  .primary-color {
    color: mat-color($primary);
  }
  .accent-color {
    color: mat-color($accent);
  }
  .primary {
    background-color: mat-color($primary);
    color: mat-color($accent);
  }
  .accent {
    background-color: mat-color($accent);
    color: mat-color($primary);
  }

}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: $background;
}

// TODO: Idk if that is a good idea
* {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
