//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');


@mixin background-color($theme){
  body {
    background: mat.get-color-from-palette($dark-blue-palette, 800);
    color: mat.get-color-from-palette($light-pink-palette, 200);
  }
}


/*

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .primary-background {
    background-color: mat-color($primary) !important;
  }
  .accent-background {
    background-color: mat-color($accent) !important;
  }
  .primary-color {
    color: mat-color($primary) !important;
  }
  .accent-color {
    color: mat-color($accent) !important;
  }
  .primary {
    //background-color: mat-color($primary) !important;
    color: mat-color($primary) !important;
  }
  .accent {
   // background-color: mat-color($accent) !important;
    color: mat-color($accent) !important;
  }
  .secondary {
    color: #2f3a51 !important;
  }

}

*/

:root {
  --bgFilter: blur(0px);
}






/*
* {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 1rem;
}
*/


html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
