//@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import '~@angular/material/theming';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

$background: #434F6A;

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .primary-background {
    background-color: mat-color($primary);
  }
  .accent-background {
    background-color: mat-color($accent);
  }
  .primary-color {
    color: mat-color($primary);
  }
  .accent-color {
    color: mat-color($accent);
  }
  .primary {
    background-color: mat-color($primary);
    color: mat-color($accent);
  }
  .accent {
    background-color: mat-color($accent);
    color: mat-color($primary);
  }
  .secondary{
    color: #2f3a51;
  }

}

:root {
  --bgFilter: blur(0px);
}

/* You can add global styles to this file, and also import other style files */
body {
  background-color: $background;
}


* {
  font-family: 'Didact Gothic', sans-serif;
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}
