.upload-button{
  color: black;
  background: white;
  border: 2px black solid;
  margin: 0.5rem
}

.preview-image {
  max-height: 400px;
  max-width: 400px;
}

.close-button{
  float: right;
  top:-18px;
  right:-18px;
}

