<button mat-icon-button class="close-button" mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>
<h1 mat-dialog-title>Upload</h1>
<div [formGroup]="uploadForm" fxLayout="column">
  <mat-form-field appearance="fill" class="form-group">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="artworkName" formControlName="artworkName" class="form-control" id="inputArtworkName"
             aria-describedby="artworkNameHelp" >
    <mat-error *ngIf="uploadForm.controls.artworkName.errors">
      <small *ngIf="uploadForm.controls.artworkName.errors.required">An artwork name is required! </small>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" class="form-group">
    <mat-label>Description</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="5"
              class="form-control"
              formControlName="description"
    ></textarea>
  </mat-form-field>
  <input accept="image/png, image/jpeg, image/gif"
           style="display: none;"
           type="file" (change)="fileSelected($event)" #fileInput>
  <img *ngIf="file" [src]="selectedImage" class="preview-image" alt="">
  <button  class="upload-button" mat-button  (click)="fileInput.click()">
    <span *ngIf="!file">Select File</span>
    <span *ngIf="file">Change Picture</span>
  </button>


   <button *ngIf="file" cdkFocusInitial mat-button class="upload-button" (click)="onFileChanged()"  >Upload</button>

</div>
