.commission-pfp {
  border-radius: 10%;
  height: 50px;
  width: 50px;
}

.commission{
  background-color: #fb9fa4;
  color: #434F6A;
  border-radius: 5%;
}
.commission:hover {
  cursor: pointer;
}

mat-card-title{
  font-size: 1rem;
  text-align: center;
}

mat-card-actions{
  text-align: center;
}

