@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;

@mixin color($theme) {
  // Get the color config from the theme.
  $color-config: mat.get-color-config($theme);

  // Get the primary color palette from the color-config.
  $primary-palette: map.get($color-config, 'primary');

  .mat-drawer{
    background-color: #2f3a51;
    color: mat.get-color-from-palette($primary-palette, 200) !important;
  }

  .mat-list-item{
    color: mat.get-color-from-palette($primary-palette, 200) !important;
  }



}


@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);
  @if $color-config != null {
    @include color($theme);
  }
}
