<div *ngIf="isReady" class="edit-page" fxLayout="column" fxLayoutAlign="start space-evenly" fxLayoutGap="0.5rem">
  <mat-tab-group backgroundColor="primary" dynamicHeight>
    <mat-tab label="Public profile">
      <h2 class="primary">Edit your profile</h2>
      <div class="edit-page-pf-wrapper" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="start"
           fxLayoutGap="0.8rem">
        <form [formGroup]="editForm" class="edit-page-pf-form">
          <div fxLayout="row" fxLayoutGap="0.5rem">
            <mat-form-field appearance="fill" class="full-width primary">
              <mat-label class="primary">First name</mat-label>
              <input aria-describedby="firstnameHelp" formControlName="firstname" matInput name="firstname">
              <mat-error *ngIf="editForm.controls.firstname.errors">
                <mat-error *ngIf="editForm.controls.firstname.errors.required">Your first name is required!</mat-error>
                <mat-error *ngIf="editForm.controls.firstname.errors.pattern">Your first name contains invalid
                  symbols!
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width primary">
              <mat-label class="primary">Last name</mat-label>
              <input aria-describedby="lastnameHelp" formControlName="lastname" matInput name="lastname">
              <mat-error *ngIf="editForm.controls.firstname.errors">
                <mat-error *ngIf="editForm.controls.firstname.errors.required">Your last name is required!</mat-error>
                <mat-error *ngIf="editForm.controls.firstname.errors.pattern">Your last name contains invalid symbols!
                </mat-error>
              </mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" class="full-width primary">
            <mat-label class="primary">Username</mat-label>
            <input aria-describedby="usernameHelp" formControlName="username" matInput name="username">
            <mat-error *ngIf="editForm.controls.username.errors">
              <small *ngIf="editForm.controls.username.errors.required">Your username is required! </small>
              <small *ngIf="editForm.controls.username.errors.pattern">Your username contains invalid symbols! </small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width primary">
            <mat-label class="primary">E-Mail</mat-label>
            <input aria-describedby="emailHelp" formControlName="email" matInput name="email" type="email">
            <mat-error *ngIf="editForm.controls.email.errors">
              <small *ngIf="editForm.controls.email.errors.required">Your email is required! </small>
              <small *ngIf="editForm.controls.email.errors.email">The email you entered is invalid! </small>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="full-width primary">
            <mat-label class="primary">Address</mat-label>
            <input aria-describedby="addressHelp" formControlName="address" matInput name="address">
            <mat-error *ngIf="editForm.controls.address.errors">
              <small *ngIf="editForm.controls.address.errors.required">Your address is required! </small>
            </mat-error>
          </mat-form-field>

          <mat-form-field *ngIf="isArtist" appearance="fill" class="full-width primary">
            <mat-label class="primary">Description</mat-label>
            <textarea #description aria-describedby="descriptionHelp" formControlName="description" matInput
                      maxlength="512" name="description"
                      rows="6"></textarea>
            <mat-hint align="start"><strong>Don't disclose personal info</strong></mat-hint>
            <mat-hint align="end">{{description?.value.length}} / 512</mat-hint>
          </mat-form-field>
        </form>

        <div class="edit-page-pfp-wrapper" fxLayout="column" fxLayoutAlign="start center"
             fxLayoutGap="0.5rem">
          <h3 class="primary">Profile picture</h3>
          <img [src]="profilePicture" alt="" class="edit-page-pfp">
          <input #fileInput
                 (change)="onFileChanged($event)"
                 accept="image/png, image/jpeg, image/gif" style="display: none;"
                 type="file">
          <button (click)="fileInput.click()" color="primary" mat-button>
            <mat-icon color="primary">upload</mat-icon>
            <span>Upload new profile picture</span>
          </button>
          <button (click)="revertProfilePicture()" color="primary" mat-button>
            <mat-icon color="primary">history</mat-icon>
            <span>Revert profile picture</span>
          </button>
        </div>
      </div>

      <button (click)="updateUserInformation()" class="update-user-button" color="primary" mat-flat-button>Update
      </button>
    </mat-tab>

    <mat-tab label="Password">
      <h2 class="primary">Change your password</h2>
      <div class="edit-page-pf-wrapper" fxLayout="column" fxLayoutAlign="space-evenly start" fxLayoutGap="0.8rem">
        <form [formGroup]="passwordForm" class="edit-page-pf-form">
          <mat-form-field appearance="fill" class="full-width primary">
            <mat-label class="primary">Old password</mat-label>
            <input [type]="!showPassword ? 'password' : 'text'" formControlName="oldPassword" matInput
                   name="oldPassword">
            <mat-error *ngIf="passwordForm.controls.password.errors">
              <small *ngIf="passwordForm.controls.password.errors.required">Your old password is required!</small>
              <small *ngIf="passwordForm.controls.password.errors.minlength">Your old password must be at least 8
                characters long!</small>
            </mat-error>
          </mat-form-field>

          <div fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutGap="0.5rem">
            <mat-form-field appearance="fill" class="full-width primary">
              <mat-label class="primary">New password</mat-label>
              <input [type]="!showPassword ? 'password' : 'text'" formControlName="password" matInput name="password">
              <mat-error *ngIf="passwordForm.controls.password.errors">
                <small *ngIf="passwordForm.controls.password.errors.required">Your new password is required!</small>
                <small *ngIf="passwordForm.controls.password.errors.minlength">Your new password must be at least 8
                  characters long!</small>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width primary">
              <mat-label class="primary">Confirm new Password</mat-label>
              <input [type]="!showPassword ? 'password' : 'text'" formControlName="confirm" id="confirm" matInput
                     name="confirm">
              <mat-error *ngIf="passwordForm.controls.confirm.errors">
                <small *ngIf="passwordForm.controls.confirm.errors.required">Your new password is required!</small>
                <small *ngIf="passwordForm.controls.confirm.errors.minlength">Your new password must be at least 8
                  characters long!</small>
                <small *ngIf="passwordForm.controls.confirm.errors.mustMatch">New password and new confirm Password must
                  be match.</small>
              </mat-error>
            </mat-form-field>
          </div>
        </form>

        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1rem">
          <button (click)="updatePassword()" color="primary" mat-flat-button>Update password</button>
          <mat-checkbox [(ngModel)]="showPassword">Show Password</mat-checkbox>
        </div>

      </div>
    </mat-tab>

    <mat-tab *ngIf="!isArtist" label="Upgrade to Artist">
      <h2 class="primary">Upgrade from user to artist</h2>

      <h3 class="primary">If you want to upload your art, take commissions, and participate as an artist, click this
        button:</h3>
      <button (click)="upgradeUser()" color="primary" mat-flat-button>Upgrade</button>

    </mat-tab>

    <mat-tab *ngIf="isArtist" label="Appearance">
      <h2 class="primary">Update the profile appearance</h2>
      <div cdkDropListGroup class="artist-profile-elements-wrapper" fxLayout.gt-md="row" fxLayout.lt-md="column"
           fxLayoutAlign="space-between start" fxLayoutGap="0.5rem">
        <div class="element-container" fxFlex="33%">
          <h3 class="primary">Layout elements</h3>

          <div
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="availableComponents"
            cdkDropList
            cdkDropListSortingDisabled
            class="element-list">
            <div *ngFor="let item of availableComponents" [cdkDragDisabled]="item.disabled" cdkDrag
                 class="element-box">{{item.componentName}}</div>
          </div>
        </div>
        <div class="element-container" fxFlex="33%">
          <h3 class="primary">Layout arrangement</h3>

          <div class="element-list">
            <div class="element-box-disabled">
              {{profileInfoComponent.componentName}}
            </div>
          </div>

          <div
            (cdkDropListDropped)="drop($event)"
            [cdkDropListData]="chosenComponents"
            cdkDropList
            class="element-list">
            <div (click)="componentClick(item)"
                 *ngFor="let item of chosenComponents"
                 [cdkDragDisabled]="item.disabled"
                 cdkDrag
                 class="element-box">
              {{item.componentName}}
              <div *ngIf="item.type.toString().includes('Gallery')">,Tags:{{item?.tags.length}}</div>
              <button (click)="deleteComponent(item)" *ngIf="item.componentName !== 'Profile information'" mat-button>
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="gallery-settings" fxFlex="33%">
          <div *ngIf="selectedComponent then settingComponent else defaultComponent"></div>
        </div>
      </div>

      <button (click)="updateAppearance()"
              [disabled]="validLayoutComponentName()"
              class="artist-profile-elements-button update-user-button"
              color="primary" mat-flat-button>Update appearance
      </button>
    </mat-tab>
  </mat-tab-group>
</div>

<div class="home-button">
  <button (click)="goBack()" color="primary" mat-button>
    <mat-icon color="primary">home</mat-icon>
    <span class="home-text">Go back</span>
  </button>
</div>

<ng-template #defaultComponent>
  <h3 class="primary">Element settings</h3>
</ng-template>

<ng-template #settingComponent>
  <div *ngIf="selectedComponent.type.includes('Gallery') then gallery"></div>
</ng-template>

<ng-template #gallery>
  <h3 class="primary">{{selectedComponent.type}} settings</h3>
  <div class="gallery-settings" fxLayout="column">
    <mat-form-field appearance="fill" class="gallery-settings-tags">
      <mat-label class="primary">Name</mat-label>
      <input [(ngModel)]="selectedComponent.componentName" matInput name="text" required type="text">
      <mat-error *ngIf="validLayoutComponentName()">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="gallery-settings-tags">
      <mat-label class="primary">Tags</mat-label>
      <input
        #tagInput
        (matChipInputTokenEnd)="addTag($event)"
        [formControl]="tagForm"
        [matAutocomplete]="auto"
        [matChipInputFor]="tagList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
        <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
          {{tag.name}}
        </mat-option>
      </mat-autocomplete>

      <mat-chip-list #tagList aria-label="Tag selection" class="mat-chip-list-stacked">
        <mat-chip (removed)="removeTag(tag)" *ngFor="let tag of selectedComponent.tags">
          {{tag.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>
  </div>
</ng-template>
