<footer>
  <div fxLayout.gt-md="row" fxLayout.lt-md="column" class="footer-container" fxLayoutAlign="center" fxLayoutGap="0.5rem">
    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <button mat-button routerLink="/tos" color="accent">Terms of Service</button>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <button mat-button routerLink="/privacy-policy" color="accent">Privacy Policy</button>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <button mat-button routerLink="/about" color="accent">About</button>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <button mat-button routerLink="/imprint" color="accent">Imprint</button>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <button mat-button routerLink="/contact" color="accent">Contact</button>
    </div>
  </div>
</footer>
