<footer>
  <div fxLayout.gt-md="row" fxLayout.lt-md="column" class="footer-container" fxLayoutAlign="center" fxLayoutGap="0.5rem">
    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <a routerLink="/tos" class="primary un footer-link">Terms of Service</a>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <a routerLink="/privacy-policy" class="primary un footer-link">Privacy Policy</a>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <a routerLink="/about" class="primary un footer-link">About</a>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <a routerLink="/imprint" class="primary un footer-link">Imprint</a>
    </div>

    <div fxFlex="20%" fxLayoutAlign="center center" class="footer-item">
      <a routerLink="/contact" class="primary un footer-link">Contact</a>
    </div>
  </div>
</footer>
