footer {
  margin-bottom: 1rem;
}

.footer-container {
  width: 40%;
  margin: auto;
}

@media screen and (max-width: 959px) {
  .footer-container {
    width: 100%;
  }

  .footer-item {
    width: 100%;
  }
}

.footer-item {
  text-align: center;
}

.footer-container > div > a {
  text-decoration: none;
}

.footer-link {
  font-size: 1rem;
}
