<footer>
  <div class="footer-container" fxLayout.gt-md="row" fxLayout.lt-md="column" fxLayoutAlign="center"
       fxLayoutGap="0.5rem">
    <div class="footer-item" fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <button color="accent" mat-button routerLink="/tos">Terms of Service</button>
    </div>

    <div class="footer-item" fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <button color="accent" mat-button routerLink="/privacy-policy">Privacy Policy</button>
    </div>

    <div class="footer-item" fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <button color="accent" mat-button routerLink="/about">About</button>
    </div>

    <div class="footer-item" fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <button color="accent" mat-button routerLink="/imprint">Imprint</button>
    </div>

    <div class="footer-item" fxFlex="20%" fxFlex.lt-md="100%" fxLayoutAlign="center center">
      <button color="accent" mat-button routerLink="/contact">Contact</button>
    </div>
  </div>
</footer>
