<div class="artist-page-wrapper">
  <div
    *ngIf="isReady"
    class="artist-page"
    fxLayout="column"
    fxLayoutAlign="start space-evenly"
    fxLayoutGap="0.5rem">
    <div class="information-container">
      <div fxFill fxLayout="column">
        <div fxLayout="row">
          <div fxLayout="row" fxLayoutGap="5px" style="width: 100%">
            <div fxLayoutAlign="center center">
              <img [src]="globals.assetsPath + profilePicture" alt="{{user.userName}} profile picture"
                   class="artist-profile-picture">
            </div>
            <div class="artist-full-name-container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
              <span class="sidenav-top artist-username">{{user.userName}}</span>
              <span class="sidenav-top artist-full-name">{{user.name}} {{user.surname}}</span>
              <span class="sidenav-top artist-role">User</span>
            </div>
            <div fxFlex="fill"></div>
            <div fxLayoutAlign="end center" *ngIf="canReport()">
              <button mat-icon-button color="primary" (click)="reportProfile()">
                <mat-icon>flag</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="artist-middle-menu">
          <mat-tab-group backgroundColor="primary" dynamicHeight *ngIf="canEdit">
            <mat-tab label="My Commissions">
              <app-commission-page [user]="user"></app-commission-page>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                <span [matBadgeHidden]="!hasUnreadNotifications"
                      [matBadge]="notificationLength > 9 ? '9+' : notificationLength"
                      matBadgeColor="warn"
                      matBadgeOverlap="false">Notifications
                </span>
              </ng-template>
              <br>
              <app-notification-display
                [user]="user"
                (unreadEvent)="setUnreadNotifications($event)"
                (notificationLengthEvent)="setNotificationLength($event)">
              </app-notification-display>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="canEdit" class="edit-button">
    <button (click)="navigateToUserEditPage()" color="primary" mat-button>
      <mat-icon color="primary">edit</mat-icon>
      <span class="edit-text">Edit your page</span>
    </button>
  </div>
</div>


<!--
    <app-artist-information *ngIf="user" [user]="user"></app-artist-information>

    <mat-tab-group>
      <mat-tab label="My Commissions">
        <app-commission-page [user]="user"></app-commission-page>
      </mat-tab>
    </mat-tab-group>
    -->
