<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  {{data.message}}
</div>
<div style="float:right;margin:20px;">
  <button [mat-dialog-close]="true" _ngcontent-enw-c431="" color="primary" mat-flat-button="" class="mat-focus-indicator update-user-button mat-flat-button mat-button-base mat-primary ng-star-inserted" ng-reflect-color="primary" style=""><span class="mat-button-wrapper">Yes </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span> </button>
  <span style="margin-left: 10px"></span>
  <button [mat-dialog-close]="false" _ngcontent-enw-c431="" color="primary" mat-flat-button="" class="mat-focus-indicator update-user-button mat-flat-button mat-button-base mat-primary ng-star-inserted" ng-reflect-color="primary" style=""><span class="mat-button-wrapper">No </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false" ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>
</div>
