@use 'node_modules/@angular/material/index' as mat;
@use 'src/theme/components/drawer-theme' as drawer;
@use 'src/theme/components/toolbar-theme' as toolbar;
@use 'src/theme/components/tab-theme' as tab;
@use 'src/theme/components/form-field-style' as form-field;
@use 'src/theme/components/dialog-theme' as dialog;
@import 'src/styles';

@include mat.core();


$light-pink-palette: (
  50: #ffecf1,
  100: #ffd0d8,
  200: #fb9fa4,
  300: #f57980,
  400: #ff595f,
  500: #ff4745,
  600: #fa3f45,
  700: #e8343f,
  800: #434f6a,
  900: #cb212b,
  contrast: (
    50: #2f3a51,
    100: #434f6a,
    200: #434F6A,
    300: #536281,
    400: #657699,
    500: #7484ab,
    600: #8897ba,
    700: #9daacb,
    800: #fb9fa4,
    900: #ecefff
  )
);

$dark-blue-palette: (
  50: #ecefff,
  100: #cfdbf4,
  200: #b7c3df,
  300: #9daacb,
  400: #8897ba,
  500: #7484ab,
  600: #657699,
  700: #536281,
  800: #434f6a,
  900: #2f3a51,
  contrast: (
    50: #cb212b,
    100: #da2d37,
    200: #e8343f,
    300: #fa3f45,
    400: #ff4745,
    500: #ff595f,
    600: #f57980,
    700: #fb9fa4,
    800: #fb9fa4,
    900: #ffd0d8
  )
);

$blue-green-palette: (
  50: #e1fbeb,
  100: #b6f5cd,
  200: #8cecb2,
  300: #5fe297,
  400: #33d981,
  500: #00d06c,
  600: #00c061,
  700: #00ac54,
  800: #009b48,
  900: #007a33,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: rgba(black, 0.87),
    600: rgba(black, 0.87),
    700: white,
    800: white,
    900: white
  )
);




$primary-palette: mat.define-palette($light-pink-palette, 200, 50, 300);
$accent-palette: mat.define-palette($blue-green-palette, 100, 200, 50);
$background-palette: mat.define-palette($dark-blue-palette, 800);

$new-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    background: $background-palette,
  )
));


@include mat.all-component-themes($new-theme);
@include toolbar.theme($new-theme);
@include drawer.theme($new-theme);
@include tab.theme($new-theme);
@include form-field.theme($new-theme);
@include dialog.theme($new-theme);
@include background-color($new-theme);

